.message {
    width: 80%;
    margin: 0 auto;
    .awardCarousel {
        background: #fff;
        font-size: 0.24rem;
        text-align: center;
        border-radius: 0.6rem;
        overflow: hidden;
        color: #333;
        .carouselItem{
            height: 60px;
            line-height: 60px;
            span {
                color: #FE0000;
            }
        }
    }
}