.modal {
	.mask {
		position: fixed;
		background-color: rgba(0, 0, 0, .5);
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	.modalWrapper {
		position: fixed;
		width: 590px;
		background-color: #faecda;
		text-align: center;
		height: 180px;
		border-radius: 10px;
		padding: 26px 30px 0;
		left: 50%;
		top: 50%;
		color: #fe953e;
		transform: translate(-50%, -50%);
		z-index: 1000;
		box-sizing: border-box;

		h2 {
			text-align: center;
			font-size: 36px;
			color: #333;
			margin-bottom: 16px;
		}

		ol {
			height: 550px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		li {
			font-size: 30px;
			color: #6c6c6c;
			&.redText {
				font-size: 30px;
				font-weight: 500;
				text-align: center;
				color: rgb(250, 62, 33);
				line-height: 42px;
			}
		}
		.closeBtn {
			width: 50px;
			height: 50px;
			background-image: url(../../../assets/images/home/close_ico@2x.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: -80px;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}

	.modalWrapper2 {
		width: 750px;
		height: auto;
		background: transparent;
		padding: 0;
		.closeBtn {
			width: 71px;
			height: 71px;
			background-image: url(./img/close_btn.png);
			bottom: -116px;
		}
	}
}
.arrow_box {
	position: fixed;
	top: 10px;
	z-index: 999;
	right: 20px;
	color: #fff;
	img {
		animation: fade-in;
		animation-duration: .5s;
		-webkit-animation: fade-in .5s;
		float: right;
		width: 250px;
	}
	.text {
		animation: fade-in;
		animation-duration: .5s;
		-webkit-animation: fade-in .5s;
		position: relative;
		left: -90px;
	}
}
.main {
	position: relative;
	.activity_bg {
		width: 100%;
		display: block;
		// z-index: -1;
	}
	.imgBox {
		position: relative;
		.img_box {
			text-align: center;
		}
		.img_box_white {
			padding: 600px 0 0;
			background: #fefcf6;
			width: 612px;
			margin: -550px auto 0;
			animation: fade-in;
			animation-duration: .5s;
			-webkit-animation: fade-in .5s;
		}
		.img_paper_box {
			img {
				width: 612px;
			}
			margin: 0 auto;
			text-align: center;
			animation: fade-in;
			animation-duration: .5s;
			-webkit-animation: fade-in .5s;
		}
		.img_title {
			width: 679px;
			animation: fade-in;
			animation-duration: .5s;
			-webkit-animation: fade-in .5s;
		}
		.img_card {
			width: 536px;
			animation: fade-in;
			animation-duration: .1s;
			-webkit-animation: fade-in .1s;
		}
	}
	.result_box {
		text-align: center;
		a {
			color: #ff7800;
			display: inline-block;
			text-decoration: underline;
			font-size: 30px;
			margin: 10px 0 78px;
			animation: fade-in;
			animation-duration: .5s;
			-webkit-animation: fade-in .5s;
		}
		img {
			animation: fade-in;
			animation-duration: .5s;
			-webkit-animation: fade-in .5s;
			width: 499px;
			margin: 0 0 10px;
		}
	}

	.text_box {
		font-family: 'PingFangSC-Regular';
		padding: 0 56px;
	}
	.text_title {
		font-size: 32px;
		font-weight: bold;
		color: #692614;
		margin-bottom: 35px;
	}
	.text_list {
		font-size: 28px;
		color: #ae948c;
		margin: 30px 0;
		li {
			margin-bottom: 20px;
		}
	}
	.big_box {
		position: relative;
		top: -3580px;
		height: 0;
	}
}
.img_gift {
	width: 355px;
	height: 162px;
}
.modalTitle {
	font-size: 34px;
	font-family: 'PingFangSC-Semibold';
	font-weight: 600;
	color: rgba(254, 149, 62, 1);
}
.btn_submit_box {
	margin: 0 auto;
	text-align: center;
}
.footer_text {
	font-size: 24px;
	width: 550px;
	margin: 10px auto 0;
	span {
		color: #ff7800;
	}
}

.btn_submit {
	width: 550px;
	color: #733424;
	text-decoration: none;
	padding: 15px 0;
	display: inline-block;
	text-align: center;
	border-radius: 40px;
	background: linear-gradient(0deg, rgba(254, 149, 62, 1), rgba(254, 199, 76, 1));
	&.disabled {
		color: #fff;
		background: rgba(244, 231, 206, 1);
	}
	&:active {
		opacity: .8;
	}
	&.btn_submit_share {
		border-radius: 0;
		width: 100%;
	}
	&.btn_submit_alert {
		margin-top: 40px;
		width: 420px;
	}
}
:global {
	.gift.am-modal-transparent {
		width: 580px;
	}
	.gift.am-modal-transparent .am-modal-content {
		position: relative;
		height: 353px;
		background-color: #faecda;
		box-sizing: border-box;
		overflow: visible;
		.am-modal-body {
			position: relative;
			top: -95px;
			padding: 0;
			overflow: visible;
		}
	}
	.wenjuan {
		.am-list-item .am-list-thumb:first-child {
			margin-right: 10px;
		}
		.am-checkbox-agree {
			margin-left: 0;
		}
		.am-checkbox-agree .am-checkbox-inner {
			top: 0.1rem;
		}
		.am-checkbox-agree {
			padding-top: 0;
		}
		.am-checkbox-agree .am-checkbox-agree-label {
			font-size: 28px;
			font-family: 'PingFangSC-Regular';
			font-weight: bold;
			margin-left: 0.5rem;
			color: rgba(174, 148, 140, 1);
		}
		.checked {
			&.am-checkbox-agree .am-checkbox-agree-label {
				color: #f79537;
			}
		}
		.am-checkbox-inner {
			width: 0.3rem;
			height: 0.3rem;
		}
		.am-checkbox-inner:after {
			top: -.02rem;
			right: 0.04rem;
			width: 0.08rem;
			height: 0.2rem;
			border-width: 0 0.03rem 0.03rem 0;
		}
		.am-checkbox.am-checkbox-checked .am-checkbox-inner {
			border-color: #f79537;
			background: #f79537;
		}
		.am-list-item {
			background-color: #fefcf6;
		}
		.am-checkbox.am-checkbox-disabled.am-checkbox-checked .am-checkbox-inner:after {
			border-color: #fff;
		}
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bounce-up {
	25% {
		-webkit-transform: translateY(10px);
	}
	50%,
	100% {
		-webkit-transform: translateY(0);
	}
	75% {
		-webkit-transform: translateY(-10px);
	}
}

@keyframes bounce-up {
	25% {
		transform: translateY(10px);
	}
	50%,
	100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-10px);
	}
}

.animate_up {
	-webkit-animation: bounce-up 1.4s linear infinite;
	animation: bounce-up 1.4s linear infinite;
}
