@import "../../../assets//styles/scss/base/fn.scss";
.modal {
  .mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  .modalWrapper {
    position: fixed;
    width: 620px;
    height: 594px;
    border-radius: 10px;
    padding: 26px 30px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    box-sizing: border-box;
    .closeBtn {
      width: 68px;
      height: 68px;
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translate(-50%, 0%);
      @include spriteIcon("../../../assets/images/common/sprite_icon.png", 0, 0);
    }
    .tipText {
      text-align: center;
    }
  }
  .tipWrapper {
    width: 5rem;
    height: 2rem;
  }
}
.freebill {
  background: url(./img/main_bg.png) no-repeat;
  background-size: 100%;
  position: relative;
  background-color: #210c5d;
  height: 100vh;
  padding-top: 35px;
  overflow: hidden;
  box-sizing: border-box;

  .ruleBtn {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    .rule_arrow {
      color: #fff;
      width: 40px;
      height: 40px;
      position: relative;
      top: 10px;
      right: 5px;
    }
  }

  .title_bg {
    width: 550px;
    display: block;
    height: 324px;
    animation: bounce 1s;
    margin: 0 auto;
  }

  .red_bag_wrap {
    position: relative;
    margin: 200px auto 0;
    width: 720px;
    height: 520px;
    background: url("./img/red_bag.png") no-repeat;
    background-size: cover;
    text-align: center;
    .entryBtn {
      display: inline-block;
      width: 336px;
      height: 96px;
      margin-top: 350px;
      animation: bounce-in 1s infinite;
    }
  }

  .col_scroll_wrap {
    position: absolute;
    top: 30%;
    width: 200px;
    height: 80px;
    background: url("./img/col_bg.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 0 40px 40px 0;
    padding-top: 5px;
    overflow: hidden;

    .col_scroll_text {
      font-size: 22px;
      color: #b8bdc9;
      padding-left: 6px;
    }

    .square {
      display: flex;
      justify-content: space-around;

      .free_bg {
        width: 66px;
        height: 28px;
        background: url("./img/free.png") no-repeat;
        background-size: cover;
      }
      em {
        position: relative;
        bottom: 0;
        left: -4px;
        font-size: 22px;
        color: #fbf452;
        .del_line {
          position: absolute;
          left: -2px;
          top: 11px;
          height: 10px;
          width: 97px;
          animation: del_line 0.5s linear forwards;
          background: url("./img/del_line.png") no-repeat;
          background-size: cover;
          overflow: hidden;
        }
      }
    }
  }

  .row_scroll_wrap {
    position: absolute;
    top: 38%;
    width: 100%;
    height: 138px;
    line-height: 138px;
    background-image: url("./img/pig_bg.png");
    background-size: cover;
    animation: slide-left 7s linear forwards;
    .row_scroll_text {
      font-size: 30px;
      color: #fff;
      position: relative;
      left: 18%;
      top: 5px;
    }

    .number_bg {
      position: relative;
      top: 10px;
      width: 267px;
      height: 55px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes del_line {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}
