@import '../../../../../assets/styles/scss/base/fn.scss';
.smsModal {
	.main {
		width: 600px;
    overflow: hidden;
    padding: 65px 60px 20px;
    box-sizing: border-box;
		// button {
		// 	background-color: #ebde74;
		// 	outline: none;
		// 	border: none;
		// 	color: #333;
		// 	border-radius: 40px;
		// 	height: 80px;
		// 	line-height: 80px;
		// 	font-size: 36px;
		// }
		.head {
			font-size: 46px;
      color: $colorBlack;
      text-align: left;
      font-weight: 600;
		}
		.desc {
      font-size: 30px;
      text-align: left;
      color: $colorSubTitle;
      margin-top: 10px;
    }
    .tel {
      font-size: 46px;
      font-weight: bold;
      color: $colorBlack;
      text-align: left;
    }
    .smsCode {
      position: relative;
      font-size: 30px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      margin-top: 70px;
      text-align: left;
      .button {
        color: $colorBlue;
      }
      span {
        color: #d2d2d6;
        position: absolute;
        right: 0;
        bottom: 15px;
        // float: right;
      }
    }
    .tip {

      font-size: 20px;
      // color: #86919d;
      color: #8e8d7b;
      line-height: 30px;
      text-align: left;
      margin: 0 -24px;
      span {
        color: #121c32;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-around;
      margin: 40px 0;
      .skipButton {
        width: 300px;
        // box-sizing: border-box;
        // background-color: transparent;
        // border: 1px solid #9d9d9d;
        color: #9d9d9d;
        float: left;
      }
      .smallButton {
        width: 180px;
      }
      .largeButton {
        width: 520px;
      }
    }
	}
}

.smsModal_error {
	width: 580px;
	.smsModal_error_info {
		padding: 60px 35px;
		color: #868e9e;
		font-size: 30px;
	}
	.button_box {
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			left: 0;
			@include setTopLine(#f0f1f5);
		}
	}

	.button_wrap {
		display: flex;
		position: relative;
		margin: 10px 0;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			@include setRightLine(#f0f1f5);
			height: 100%;
			background-color: #f0f1f5;
		}
	}

	.button {
		width: 50%;
		padding: 15px 0;
		font-size: 24px;
		font-weight: 500;
		color: #121c32;
	}

	.exit {
		color: #868e9e;
	}
}
::-webkit-input-placeholder {
	color: #d2d2d6;
}
:-moz-placeholder {
	color: #d2d2d6;
}
::-moz-placeholder {
	color: #d2d2d6;
}
:-ms-input-placeholder {
	color: #d2d2d6;
}

:global {
	.smsModal.am-modal.am-modal-transparent {
		width: auto;
	}
	.smsModal.am-modal-transparent .am-modal-content {
		padding-top: 0;
		.am-modal-body {
			padding: 0;
		}
	}
}
