$color-bg-default: #fff; // 默认背景颜色
$color-border-line-left: #ebde74; // 标题竖线背景颜色
$color-border-line: #e5e5e5; // 标题横线颜色

@mixin one-px-border($color: $color-border-line) {
  position: relative;
  &:after {
    content: '';
    pointer-events: none; /* 防止点击触发 */
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-radius: 8px;
    border: 0;
    border-bottom: 1PX  solid $color;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}

.panel_wrap {
  background-color: $color-bg-default;
  .panle_title {
    position: relative;
    padding: 0.3rem;
    text-indent: 0.3rem;
    font-size: 0.36rem;
    color: #333;
    @include one-px-border();
  }
  .panle_title:before {
    content: '';
    position: absolute;
    left: 0.3rem;
    top: 0.4rem;
    bottom: 0.4rem;
    width: 0.08rem;
    background-color: $color-border-line-left;
  }
}
.panel_wrap + .panel_wrap {
  margin-top: 0.24rem;
}
