$color-bg-default: #fff; // 默认背景颜色
$color-border-line-left: #ebde74; // 标题竖线背景颜色
$color-border-line: #e5e5e5; // 标题横线颜色

@mixin one-px-border($color: $color-border-line) {
	position: relative;
	&:after {
		content: '';
		pointer-events: none; /* 防止点击触发 */
		box-sizing: border-box;
		position: absolute;
		width: 200%;
		height: 200%;
		left: 0;
		top: 0;
		border-radius: 8px;
		border: 0;
		border-bottom: 1px solid $color;
		transform: scale(0.5);
		transform-origin: 0 0;
	}
}

.panel_wrap {
	padding: 20px 30px;
	background-color: $color-bg-default;
	.panle_title {
		position: relative;
		padding-bottom: 20px;
		font-size: 34px;
		font-weight: 500;
		color: #414a53;
		@include one-px-border();
	}
}
.panel_wrap + .panel_wrap {
	margin-top: 0.24rem;
}
