@import '../../../assets/styles/scss/base/fn';

.repayment_succ_page {
	.tips {
		text-align: center;
		padding: 61px 0 71px 0;
		background: #fff;
		margin-bottom: 20px;
		.success_ico {
			@include spriteIcon('../../../assets/images/common/sprite_icon.png',0, -88px);
      display: inline-block;
      width: 128px;
      height: 128px;
		}
		p {
			font-size: 30px;
			color: rgba(51, 51, 51, 1);
			margin-top: 25px;
			font-weight: 600;
		}
	}
	.details {
		padding: 45px 30px;
		background: #fff;
		p {
			margin-bottom: 39px;
			font-size: 30px;
			color: rgba(51, 51, 51, 1);
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.back_btn {
		width: 620px;
		margin-top: 108px;
	}
}
.success_modal_warp {
	:global {
		.am-modal {
			width: 750px;
			.am-modal-content {
				padding-top: 0;
				background-color: transparent;
				height: 850px;
				.am-modal-body {
					padding: 0;
				}
			}
		}
	}
	.modal_tip_content {
		// background-image: url('../../../assets/images/order/modal_bg_new1.png');
		background-image: url('../../../assets/images/order/modal_bg_new4.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 750px;
		height: 750px;
		.modal_btn {
			position: relative;
			margin: 0 auto;
			// top: 580px;
			// width: 375px;
			// height: 96px;
			top: 557px;
			width: 320px;
			height: 94px;
			// background-image: url('../../../assets/images/order/modal_btn1.png');
			background-image: url('../../../assets/images/order/modal_btn4.png');
			background-size: 100% 100%;
		}
	}
	.close_btn {
		position: absolute;
		left: 50%;
		top: 750px;
		@include spriteIcon('../../../assets/images/common/sprite_icon.png',0, 0);
		width: 68px;
		height: 68px;
		margin-left: -34px;
		z-index: 1;
	}
}
