.fixed_help_center_wrap {
  position: fixed;
  z-index: 99;
  right: 0;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow:0px 0px 41px 0px rgba(226,229,247,0.77);
  border-radius: 100px 0px 0px 100px;
  font-size: 0;
  .fixed_help_center_icon {
    width: 40px;
    height: 40px;
  }
}
