@import '../../assets/styles/scss/base/fn';
.noselect {
	color: #868e9e;
	font-size: 30px;
	font-family: 'PingFangSC-Medium';
	font-weight: 500;
  position: relative;
  line-height: 1.4;
  .rightArrow{
    width: 40px;
    height: 40px;
    color: #121c32;
    vertical-align: middle;
    margin-top: -5px;
  }
}
