@import '../../../../../assets/styles/scss/base/fn';

.overDueModalWrap {
	position: relative;
	padding-top: 100px;
}

.overDueModalBox {
	width: 580px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding-top: 200px;
	box-sizing: border-box;
}

.overDueTit {
	font-size: 36px;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: 50px;
}

.overDueDesc {
	font-size: 32px;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 45px;
	margin: 50px auto 56px;
	text-align: left;
	padding: 0 30px;
	width: 520px;
	box-sizing: border-box;
}

.warningImg {
	position: absolute;
	width: 580px;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
}

.download {
	margin: 20px 0 15px;
	color: #f66;
	font-size: 28px;
}

.couponEntry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 520px;
	height: 80px;
	background: linear-gradient(180deg, rgba(255, 118, 70, 1) 0%, rgba(255, 87, 94, 1) 100%);
	box-shadow: 0px 2px 13px 0px rgba(255, 52, 52, 0.5);
	border-radius: 6px;
	color: #fff;
	font-size: 30px;
	margin: 0 auto 40px;
	padding: 0 16px;
	box-sizing: border-box;
	.value {
		position: relative;
		&::after {
			content: '';
			@include setArrow(right, 12px, #fff, 1px);
			top: -3px;
		}
	}
}

.button {
	position: relative;
	font-size: 34px;
	color: #121c32;
	font-weight: 500;
	text-align: center;
	height: 100px;
	line-height: 100px;
	&::after {
		@include setTopLine(#f0f1f5);
	}
}
