.mpos_download_page {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	background: #fff;
	.banner {
		width: 100%;
		display: block;
  }
	.content {
		position: relative;
		top: -96px;
		text-align: center;
		background: #fff;
		border-radius: 30px;
		margin: 0 auto;
		box-sizing: border-box;

		.sureBtn {
      display: block;
      width:624px;
			height: 96px;
			line-height: 96px;
      background: linear-gradient(-90deg,rgba(102,171,250,1),rgba(76,122,253,1));
      box-shadow: 0px 2px 21px 0px rgba(77,124,253,0.5);
      border-radius: 48px;
			font-size: 30px;
			font-weight: bold;
			font-family: 'PingFang SC';
			color: #fff;
			margin: 84px auto 80px;
			span {
				display: inline-block;
				width: 100%;
			}
			// &:hover,
			// &:active {
			// 	background-color: #FE4D2A;
			// }
			&.dis {
				opacity: 0.5;
			}
		}
	}
  .yuanPNG {
    width: 676px;
    height: 334px;
    margin-top: 53px;
    vertical-align: top;
  }
  .listPNG {
    width: 693px;
    height: 372px;
    margin: 0 auto;
    vertical-align: top;
  }
}

.loginModalContainer {
	position: relative;
	padding-top: 87px;
	.loginModalBg {
		display: block;
		width: 100%;
	}
	.loginModalBtn {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 20px;
		width: 422px;
		height: 112px;
	}
	.tipsCont {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 185px;
		font-size: 26px;
		color: #f6521f;
		line-height: 100%;
		span {
			font-weight: 600;
		}
	}
	.closeIcoStyle {
		position: absolute;
		right: 42px;
		width: 25px;
		height: 26px;
		top: 0;
	}
}

:global {
	.loginModalBox {
		.am-modal.am-modal-transparent {
			width: 100%;
			position: relative;
			top: -87px;
			// position: absolute;
			// top: 60px;
		}
		.am-modal.am-modal-transparent .am-modal-content .am-modal-body {
			padding: 0;
		}
		.am-modal.am-modal-transparent .am-modal-content {
			padding: 0;
		}
		.am-modal-content {
			background: transparent;
		}
	}
}
