.withdraw_fail_page{
	text-align: center;
	.withdrawFailCont{
		font-size: 32px;
		font-weight: 400;
		color: rgba(150, 150, 150, 1);
		background: #fff;
		padding: 81px 0;
		img{
			width: 128px;
			vertical-align: top;
		}
	}
	.contactWays{
		a{
			color: #4CA6FF;
		}
	}
	.failTip{
		font-size: 40px;
		font-weight: 600;
		color: rgba(61, 61, 61, 1);
		margin: 40px 0;
	}
	.backBtn{
		width: 652px;
		margin: 159px auto;
		height: 102px;
		line-height: 102px;
	}
}