@import '../../../assets/styles/scss/base/fn';

.dc_landing_page {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	background: #fff;
	.banner {
		width: 100%;
		display: block;
  }
	.content {
		position: relative;
		top: -96px;
		text-align: center;
		background: #fff;
		border-radius: 30px;
		margin: 0 auto;
		box-sizing: border-box;

		.loginContentBox {
			position: relative;
			padding: 60px 63px 80px;
			:global {
				.am-list-item.am-input-item {
					height: 96px;
				}
				.am-list-line::after {
					background-color: transparent RED;
				}
			}
		}
		.title {
			position: relative;
			font-size: 26px;
			font-family: PingFangSC-Regular;
			font-weight: bold;
			color: #121c32;
			top: -10px;
		}
		.moneyText {
			position: relative;
			top: -55px;
			font-size: 120px;
			font-family: 'DINMitAlt';
			font-weight: bold;
			color: #121c32;
			height: 91px;
			margin-top: 28px;
			margin-bottom: 5px;
			// margin-bottom: 34px;
		}
		.proDesc {
			margin-bottom: 37px;
			img {
				display: block;
				width: 546px;
				height: 25px;
				margin: 0 auto;
			}
		}
		.commonLine {
			position: absolute;
			display: inline-block;
			height: 18px;
			width: 18px;
			border-color: #bd9755;
			border-style: solid;
			box-sizing: border-box;
		}
		.leftTopLine {
			top: -1px;
			left: -1px;
			border-width: 4px 0 0 4px;
		}
		.rightTopLine {
			top: -1px;
			right: -1px;
			border-width: 4px 4px 0 0;
		}
		.leftBottomLine {
			bottom: -1px;
			left: -1px;
			border-width: 0 0 4px 4px;
		}
		.rightBottomLine {
			bottom: -1px;
			right: -1px;
			border-width: 0 4px 4px 0;
		}
		.loginInput {
			margin-bottom: 34px;
			border: none;
			border-radius: 50px;
			background-color: #f5f4f4;
		}
		input::placeholder {
			color: #c9cdd5;
			font-size: 30px;
			height: 91px;
			line-height: 1.5;
			font-weight: bold;
		}
		input:-webkit-autofill {
			box-shadow: 0 0 0 1000px white inset !important;
		}
		// .smsCodeInput {
		// 	// flex: 1;
		// 	// margin-right: 20px;
		// }
		.smsBox {
			position: relative;
			// display: flex;
			// justify-content: space-between;
		}
		.smsCode {
			position: absolute;
			right: 0;
			top: 1px;
			font-size: 30px;
			width: 235px;
			height: 91px;
			line-height: 91px;
			text-align: center;
			font-weight: bold;
			color: #febe3d;
			&::after {
        @include setLeftLine(#e5e5e5);
        height: 60%;
        top: 20%;
			}
		}
		.smsCode2 {
			color: #c9cdd5;
		}
		// .smsCodeNumber {
		// 	color: #fff;
		// 	font-size: 32px;
		// 	width: 270px;
		// 	height: 100px;
		// 	line-height: 100px;
		// 	text-align: center;
		// 	background-color: #FE4D2A;
		// 	border-radius: 12px;
		// }
		.sureBtn {
			display: block;
			height: 96px;
			line-height: 96px;
			background: #fec933;
			border-radius: 44px;
			font-size: 30px;
			font-weight: bold;
			font-family: 'PingFang SC';
			color: #fff;
			margin: 34px auto 10px;
			span {
				display: inline-block;
				width: 100%;
			}
			// &:hover,
			// &:active {
			// 	background-color: #FE4D2A;
			// }
			&.dis {
				opacity: 0.5;
			}
		}

		// 图片验证码
		.getCodeBox {
			width: 152px;
			height: 50px;
			border-radius: 8px;
			margin: 12px auto;
		}
		.getCode {
			width: 152px;
			height: 50px;
			transform: scale(1.2);
		}
	}
	.agreement {
		display: flex;
		position: relative;
		top: -57px;
		color: #8e8d7b;
		font-size: 24px;
		margin: 0px 58px 0;
		text-align: left;
		span {
			color: #414a53;
		}

		.checked {
			position: relative;
			top: 5px;
			vertical-align: middle;
			display: inline-block;
			width: 48px;
			height: 48px;
			line-height: 38px;
			margin-right: 6px;
			background: url(./img/checked_ico.png) no-repeat;
			background-size: 100%;
		}
		.nochecked {
			background-image: url(./img/unChecked_ico.png);
		}
  }
  .footer_copyright {
    font-size: 20px;
    color: #868E9E;
    text-align: center;
    margin: 0 30px;
  }

	:global {
		.am-list-item .am-input-control input {
			font-size: 29px;
			width: 100%;
			line-height: 1.4;
			display: inline-block;
			text-align: left;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-family: PingFang-SC-Regular;
			padding: 0.16rem 0;
			color: #121c32;
			font-weight: bold;
		}

		// .am-list-item .am-checkbox .am-checkbox-inner {
		// 	width: 28px;
		// 	height: 28px;
		// 	border-radius: 5px;
		// 	border: 1PX solid #FE4D2A;
		// }

		// .am-list-item .am-checkbox-checked .am-checkbox-inner {
		// 	background: #FE4D2A;
		// 	font-size: 26px;
		// }
	}
}

.loginModalContainer {
	position: relative;
	padding-top: 87px;
	.loginModalBg {
		display: block;
		width: 100%;
	}
	.loginModalBtn {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 20px;
		width: 422px;
		height: 112px;
	}
	.tipsCont {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 185px;
		font-size: 26px;
		color: #f6521f;
		line-height: 100%;
		span {
			font-weight: 600;
		}
	}
	.closeIcoStyle {
		position: absolute;
		right: 42px;
		width: 25px;
		height: 26px;
		top: 0;
	}
}

:global {
	.loginModalBox {
		.am-modal.am-modal-transparent {
			width: 100%;
			position: relative;
			top: -87px;
			// position: absolute;
			// top: 60px;
		}
		.am-modal.am-modal-transparent .am-modal-content .am-modal-body {
			padding: 0;
		}
		.am-modal.am-modal-transparent .am-modal-content {
			padding: 0;
		}
		.am-modal-content {
			background: transparent;
		}
	}
}
.yuanPNG {
	width: 676px;
	height: 334px;
	margin-top: 53px;
}
.listPNG {
	width: 693px;
	height: 372px;
	margin: 0 auto;
}
