@import '../../../assets/styles/scss/base/fn';

.descContainer {
	padding: 50px 70px;
	.title {
		color: $colorBlack;
		font-size: 46px;
		word-wrap: break-word;
		word-break: break-all;
	}
	.time {
		color: $colorInactiveColor;
		font-size: 22px;
		margin: 10px 0 30px;
	}
	.p {
		font-size: 28px;
		color: $colorInactiveColor;
		margin-bottom: 30px;
		line-height: 40px;
		white-space: pre-wrap;
		word-wrap: break-word;
		font-family: -apple-system-font, 'Helvetica Neue', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB';
	}
}
