.desc_b {
	font-size: 24px;
	font-family: 'PingFangSC-Semibold';
	font-weight: 600;
}
.plus {
	width: 437px;
	height: 140px;
	padding: 45px 90px;
	display: block;
}
.bank {
	width: 476px;
	height: 139px;
	padding: 45px 60px;
	display: block;
}

:global {
	.carouselHome {
		.am-carousel-wrap {
			position: absolute;
      left: 80px;
      width: auto;
      display: inline-block;
      top: -120px;
			text-align: left;
		}
	}
}
