.tips_wrap {
	.tips_tit {
		margin-top: 30px;
		font-size: 36px;
		font-weight: 500;
		color: #333;
	}
	.tips_cont {
		font-size: 34px;
		color: #6c6c6c;
		margin: 54px -20px 62px;
		line-height: 48px;
	}
	.btn_primary {
		color: #fff;
		background: linear-gradient(180deg, rgba(252, 69, 135, 1) 0%, rgba(255, 57, 86, 1) 100%);
		border-radius: 8px;
		font-size: 34px;
		margin-bottom: 10px;
	}
}
