.real_name_page {
  padding: 54px 60px 160px;
	.updateTitle {
		color: #333;
		margin-top: 20px;
		font-size: 0.26rem;
		padding: 10px 25px;

		span {
			border-left: 8px solid #ebde74;
			padding-left: 16px;
			font-weight: 600;
		}
	}
	.updateContent {
		background: #fff;
		padding: 0.1rem 0.1rem 0.2rem 0.1rem;
		text-align: center;
		margin: 80px auto 0 auto;
	}
	.mt30 {
		margin-top: 50px;
  }
  .updateImgWrap {
    display: flex;
  }
	.updateImgLeft {
    padding: 36px 0;
    flex: 1;
		// width: 50%;
    cursor: pointer;
    margin-right: 15px;
		display: inline-block;
    overflow: hidden;
    box-shadow:0px 0px 41px 0px rgba(226,229,247,0.77);
    border-radius: 10px;
		img {
			// width: 326px;
			height: 12rem;
			cursor: pointer;
			border-radius: 8px;
		}
		p {
			color: #333;
			font-size: 0.26rem;
			margin-top: 10px;
		}
	}
	.hiddenEle {
		display: none;
	}
	.updateImgRight {
    padding: 36px 0;
    flex: 1;
    // width: 50%;
    margin-left: 15px;
		cursor: pointer;
		display: inline-block;
    overflow: hidden;
    box-shadow:0px 0px 41px 0px rgba(226,229,247,0.77);
    border-radius: 10px;
		p {
			color: #333;
			font-size: 0.26rem;
			margin-top: 10px;
		}
  }
  .updateImgTip {
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid $colorDivide;
    width: 100%;
  }
  .sectionTitle {
    color: $colorBlack;
    font-size: 32px;
    font-weight: 600;
    margin-top: 64px;
    margin-bottom: 60px;
  }
	.labelDiv {
		text-align: right;
		background: #fff;
		margin-top: 20px;
	}
	.nameLabel {
		display: inline-block;
		max-width: 100%;
		font-size: 30px;
		line-height: 90px;
		padding-left: 30px;
	}
	.nameInput {
		display: block;
		width: 60%;
		padding: 20px 40px;
		font-size: 30px;
		height: 42px;
		line-height: 42px;
		color: #555;
		border: none;
		float: right;
		text-align: right;
	}
	input::placeholder {
		color: #c7c6cc;
		font-size: 30px;
	}
	.clear {
		clear: both;
	}
	.inline {
		width: 96%;
		margin: -3px 0 0 30px;
		background: #e5e5e5;
		height: 1.5px;
	}
	.des {
		font-size: 20px;
		color: $colorGolden;
		padding: 20px 0px;
		letter-spacing: 1.5px;
		line-height: 17px;
		.desOne {
			line-height: 36px;
			margin-bottom: 15px;
			font-size: 0.24rem;
		}
  }
  .bottomBtn {
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    padding: 30px 60px;
    left: 0;
    box-sizing: border-box;
    background-color: #fff;
  }
  .pageTitle {
    font-size: 46px;
    color: $colorBlack;
    font-weight: bold;
    margin-bottom: 150px;
  }
  .bottomBtnSuccess {
    padding: 0 60px;
    margin-top: 180px;
  }
}
:global {
	.real_name_page_list {
		.am-list-item .am-input-label {
			color: #333;
			font-size: 0.3rem;
		}
		.am-list-item.am-input-item {
			padding-left: 0;
    }
    .am-list-line {
      padding-right: 0;
    }
		.am-list-item .am-input-control input {
			text-align: right;
		}
	}
}
