.real_name_page {
	.updateTitle {
		color: #333;
		margin-top: 20px;
		font-size: 0.26rem;
		padding: 10px 25px;

		span {
			border-left: 8px solid #ebde74;
			padding-left: 16px;
			font-weight: 600;
		}
	}
	.updateContent {
		background: #fff;
		padding: 0.1rem 0.1rem 0.2rem 0.1rem;
		text-align: center;
		margin: 20px auto 0 auto;
	}
	.mt30 {
		margin-top: 50px;
	}
	.updateImgLeft {
		width: 50%;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		img {
			width: 326px;
			height: 2rem;
			cursor: pointer;
			border-radius: 8px;
		}
		p {
			color: #333;
			font-size: 0.26rem;
			margin-top: 10px;
		}
	}
	.hiddenEle {
		display: none;
	}
	.updateImgRight {
		width: 50%;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		p {
			color: #333;
			font-size: 0.26rem;
			margin-top: 10px;
		}
	}
	.labelDiv {
		text-align: right;
		background: #fff;
		margin-top: 20px;
	}
	.nameLabel {
		display: inline-block;
		max-width: 100%;
		font-size: 30px;
		line-height: 90px;
		padding-left: 30px;
	}
	.nameInput {
		display: block;
		width: 60%;
		padding: 20px 40px;
		font-size: 30px;
		height: 42px;
		line-height: 42px;
		color: #555;
		border: none;
		float: right;
		text-align: right;
	}
	input::placeholder {
		color: #c7c6cc;
		font-size: 30px;
	}
	.clear {
		clear: both;
	}
	.inline {
		width: 96%;
		margin: -3px 0 0 30px;
		background: #e5e5e5;
		height: 1.5px;
	}
	.des {
		font-size: 20px;
		color: #9d9d9d;
		padding: 20px 30px;
		letter-spacing: 1.5px;
		line-height: 17px;
		.desOne {
			line-height: 36px;
			margin-bottom: 15px;
			font-size: 0.24rem;
		}
	}
	.sureBtn {
		width: 6.2rem;
		margin-top: 50px;
		margin-bottom: .35rem;
	}
}
:global {

.real_name_page_list {
		.am-list-item .am-input-label {
			color: #333;
			font-size: 0.3rem;
		}
		.am-list-item.am-input-item {
			padding-left: 0.3rem;
		}
		.am-list-item .am-input-control input {
			text-align: right;
		}
	}
}
