.pwd_guide_page {
	background-color: #ffffff;
}
.pwd_img {
	width: 642px;
	height: 330px;
	margin-top: 55px;
}

.top_header {
	background-image: url('./img/top_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 335px;
	padding-top: 30px;
	box-sizing: border-box;
}

.boxshadow {
	background-image: url('./img/shadow_bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 730px;
	text-align: center;
	margin: -150px auto 0;
}
.header_title {
	color: #121c32;
	font-size: 56px;
	font-weight: 600;
}
.text_wrap {
	padding: 10px 64px;
	.label_title {
		color: #242d46;
		font-size: 34px;
		font-weight: 500;
	}
	p {
		font-size: 30px;
		color: #868e9e;
		font-weight: 400;
	}
}
