.carouse_wrap {
	position: relative;
	// min-height: 2.65rem;
	// height: 2.65rem;
	overflow: hidden;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: .1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.bannerBox{
  margin: 0 40px 0;
}
