@import '../../../../assets/styles/scss/base/fn';

.extraWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.perdDetailWrap {
	background-color: $colorBgText;
	padding: 32px 40px 20px;
	box-sizing: border-box;
}

.detailItem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.detailItemTotal {
	position: relative;
	margin-bottom: 0px;
	padding-top: 20px;
	&::after {
		@include setTopLine($colorLoadingBarBg);
	}
}

.detailLabel {
	font-size: 26px;
	color: $colorInactiveColor;
}

.detailValue {
	font-size: 26px;
	color: $colorInactiveColor;
	font-weight: 500;
	font-family: $fontFamilyNumber;
}

.detailLabelSub {
	font-size: 24px;

	color: $colorInputPlaceholder;
}

.red_box {
	border: 1px solid $colorTipRed;
	background-color: #f6e8ea;
	padding: 0 8px;
	box-sizing: border-box;
	color: $colorTipRed;
	font-size: 22px;
}
.perdTotAmt {
	font-size: 28px;
	font-family: $fontFamilyNumber;
	color: $colorListText;
}

.antListItem {
	.checkboxIcon {
		width: 34px;
		height: 34px;
	}
	:global {
		.am-list-item {
			border-top: 1px solid $colorDivide;
			padding-left: 0px;
			.am-list-thumb {
				margin-right: 5px;
			}
			.am-list-line {
				padding-right: 0px;
				&::after {
					height: 0px !important;
				}
				.am-list-content {
					font-size: 28px;
					font-weight: 500;
					color: $colorBlack;
					padding: 30px 0;
					.am-list-brief {
						font-size: 24px;
						color: $colorInactiveColor;
						font-weight: normal;
					}
				}
				.am-list-arrow {
					width: 20px;
					height: 20px;
				}
			}
			.am-list-extra {
				padding: 30px 0;
			}
		}
	}
}
