.padding_bottom {
	height: calc(100% + 1px);
	overflow-x: hidden;
	overflow-y: auto;
}
.top_bg {
	display: block;
	width: 100%;
	height: 455px;
}
.desc {
	color: #0084ff;
	font-size: 24px;
	margin: 10px auto 70px;
	text-align: center;
}
.smart_button {
	background-color: #0084ff;
	color: #fff;
	width: 645px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(0, 132, 255, 0.8);
}
.hegui_bg {
	display: block;
	width: 475px;
	height: 387px;
	margin: 0 auto;
}
.tipsText {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  color: #0b0f32;
  text-align: center;
	span {
		color: #fd2727;
	}
}
