.allContainer {
	background-color: #fff;
	background-size: 750px;
	.title {
		padding-top: 39px;
		width: 750px;
		text-align: center;
		font-size: 39px;
		font-weight: 500;
	}
	.desc {
		color: #7b7b7b;
		font-size: 36px;
		text-align: center;
		width: 570px;
		margin: 10px auto 65px;
	}
	.inputItem {
		width: 652px;
		margin: 0 auto;
		background: #fff;
		height: 101px;
		position: relative;
		border-bottom: 1PX solid #dbdbdb;
		input {
			vertical-align: middle;
			border: 0;
			outline: none;
			background: none;
			font-size: 32px;
			padding-top: 20px;
		}
		input::placeholder {
			color: #666;
			font-size: 32px;
		}
		.getCodeAct {
			width: 160px;
			height: 61px;
			border: #219fdb solid 1PX;
			border-radius: 2px;
			line-height: 61px;
			vertical-align: middle;
			text-align: center;
			color: #219fdb;
			font-size: 28px;
			position: absolute;
			top: 20px;
			right: 31px;
		}
		.getCode {
			padding-top: 4px;
			width: 160px;
			height: 61px;
			background: #eff1f4;
			border-radius: 2px;
			line-height: 61px;
			vertical-align: middle;
			text-align: center;
			font-size: 28px;
			position: absolute;
			color: #afb5c3;
			top: 20px;
			right: 31px;
		}
	}
	.clickSms {
		text-align: center;
		margin-top: 268px;
	}
	.icon {
		width: 650px;
		height: 88px;
		margin-top: 70px;
		left: 50px;
	}
	.agreen {
		color: #fff;
		margin-top: -82px;
		font-size: 32px;
	}
}
