.confirm_agency_page {
  padding: 0.24rem 0 0;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .panel_conten {
    padding: 0.3rem 0;

    .list_item {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 0;
    }

    .item_name {
      margin-left: .3rem;
      font-size: 0.3rem;
      color: #252729;
      display: flex;
      align-items: center;
    }

    .item_value {
      padding-right: .3rem;
      font-size: 0.3rem;
      color: #333;
      font-weight: bold;
    }

    .list_item_arrow {
      width: .18rem;
      height: .3rem;
      vertical-align: middle;
    }

    .item_action {
      padding: 0.1rem;
      margin-left: 0.1rem;
      background-color: transparent;
      border: none;
    }

    .item_action_icon {
      height: 0.28rem;
      width: 0.28rem;
    }
  }

  .confirm_btn {
    margin-top: 1.23rem;
    width: 6.2rem;
  }

  .tip_bottom {
    width: 6.2rem;
    margin: 0.24rem auto 0;
    font-size: 0.26rem;
    color: #282828;
  }

  .protocol_link {
    color: #4DA6FF;
  }
}

.modal_content {
  position: relative;

  .modal_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1rem;
    height: 0.29rem;
    width: 0.28rem;
  }

  .modal_title {
    font-size: 0.36rem;
    color: #333;
    border-bottom: 1PX solid #e5e5e5;
    padding-bottom: 0.3rem;
  }

  .bill_list {
    padding: 0.1rem;
    max-height: 500px;
  }

  .list_item {
    display: flex;
    justify-content: space-between;
    padding: 0.13rem 0;
  }

  .item_name {
    font-size: 0.3rem;
    color: #333;
  }

  .item_value {
    font-size: 0.3rem;
    color: #333;
    font-weight: bold;
  }
}

.modal_tip_warp {
  :global {
    .am-modal-button-group-v .am-modal-button {
      color: #EBDE74;
    }
  }
}

.modal_tip_content {
  position: relative;
  text-align: left;

  .modl_tip_title {
    font-size: .36rem;
    color: #333;
  }

  .modl_tip_text {
    margin-top: .2rem;
    font-size: .28rem;
    line-height: 1.4;
    color: #666;
  }
}

.modalLoading {
  color: #666;
  margin-bottom: 15px;
  font-size: 32px;
}

// modal样式覆盖
:global {
  .am-modal-body {
    .am-modal-alert-content {
      line-height: 1.5;
    }
  }

  .am-progress-bar {
    border: 0.04rem solid #FFDA58;
  }

  .protocolsBox{
    padding: 20px;
    box-sizing: border-box;
    background: transparent;
    .am-action-sheet-button-list .am-action-sheet-cancel-button-mask{
      background-color: transparent;
      height: 20px;
      top: -20px;
    }
    .am-action-sheet-button-list .am-action-sheet-cancel-button{
      margin-top: 20px;
      border-radius: 10px;
      color: #333;
    }
    .am-action-sheet-button-list-item{
      background: #fff;
      color: #4CA6FF;
    }
    .am-action-sheet-button-list-item:first-child{
      border-radius: 10px 10px 0 0;
    }
    .am-action-sheet-button-list-item:nth-last-child(2){
      border-radius: 0 0 10px 10px;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .protocolsBox .am-action-sheet-button-list-item {
      border-top: none;
    }
    html:not([data-scale]) .protocolsBox .am-action-sheet-button-list-item:first-child:before,
    html:not([data-scale]) .protocolsBox .am-action-sheet-button-list-item:last-child:before,
    html:not([data-scale]) .am-action-sheet-button-list .am-action-sheet-cancel-button-mask::before,
    html:not([data-scale]) .am-action-sheet-button-list .am-action-sheet-cancel-button-mask::after,
    {
      display: none;
    }
  }
}
