.modal {
  .mask {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  .modalWrapper {
    position: fixed;
    width: 620px;
    height: 594px;
    border-radius: 10px;
    padding: 26px 30px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    box-sizing: border-box;

    h2 {
      text-align: center;
      font-size: 36px;
      color: #333;
      margin-bottom: 36px;
    }

    ol{
      height: 444px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    li {
      font-size: 30px;
      color: #6c6c6c;
    }
    .closeBtn {
      width: 50px;
      height: 50px;
      background-image: url(../../../assets/images/home/close_ico@2x.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  .modalWrapper2{
    width: 750px;
    height: auto;
    background: transparent;
    padding: 0;
    .closeBtn {
      width: 71px;
      height: 71px;
      background-image: url(./img/close_btn.png);
      bottom: -116px;
    }
    .awardModalCont{
      position: relative;
      text-align: center;
      .modalBg{
        width: 750px;
      }
      .checkBtn{
        position: absolute;
        width: 410px;
        bottom: 88px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
  }
  .modalWrapper3{
    width: 560px;
    height: 466px;
    border-radius: 8px;
    padding: 110px 56px 40px;
    .noAwardModalCont{
      font-size: 34px;
      color: rgba(51, 51, 51, 1);
      text-align: center;
      line-height: 48px;
      .title{
        font-weight: 500;
      }
      .contText{
        margin: 20px 0 62px;
      }
      .joinBtn{
        background: linear-gradient(90deg, rgba(254, 175, 110, 1), rgba(236, 83, 58, 1));
        border-radius: 45px;
        font-size: 32px;
        color: #fff;
        width: 400px;
      }
    }
    .closeIcon{
      position: absolute;
      right: 4px;
      top: 4px;
      width: 26px;
      height: 26px;
      margin: 20px;
      background-image: url(../../../assets/images/confirm_agency/icon_close.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
.main {
  position: relative;
  .activity_bg {
    width: 100%;
    position: absolute;
    // z-index: -1;
  }
  .rule {
    position: absolute;
    right: 0;
    top: 16px;
    color: #fff;
    font-size: 30px;
    width: 166px;
    height: 51px;
    background: rgba(247, 145, 117, 1);
    border-radius: 26px 0 0 26px;
    line-height: 51px;
    text-align: center;
  }
  .couponContainer{
    position: relative;
    padding-top: 650px;
    z-index: 1;
    .couponBox{
      padding: 42px 48px 30px;
      background: #fff;
      border-radius: 20px;
      margin: 0 40px;
      .couponTit{
        font-size: 26px;
        color: rgba(230, 41, 99, 1);
        span{
          font-size: 30px;
          font-weight: 600;
        }
      }
      .imgContainer{
        position: relative;
        margin-top: 44px;
      }
      .couponBg{
        width: 100%;
      }
      .getBtn{
        position: absolute;
        width: 104px;
        right: 18px;
        top: 24px;
      }
    }
  }
  .redBagCont{
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 114px 60px 44px;
    margin: 30px 40px 0;
    text-align: center;
    z-index: 1;
    .titBg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .price{
      font-size: 30px;
      color: rgba(255, 26, 0, 1);
      padding-top: 68px;
      img{
        width: 210px;
        margin-right: 13px;
        position: relative;
        top: 5px;
      }
    }
    .tipText{
      margin: 34px 0 69px;
      font-size: 30px;
      color: rgba(52, 58, 66, 1);
    }
    .awardListCarousel{
      height: 190px !important;
      :global {
        .slider-frame{
          height: 190px !important;
        }
      }
    }
    .awardList{
      width: 464px;
      margin: 84px 0 24px;
    }
    .carouselItem{
      width: 380px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      color: rgba(52, 58, 66, 1);
      margin-bottom: 8px;
    }
    .jumpBtn{
      background: linear-gradient(90deg, rgba(254, 175, 110, 1), rgba(236, 83, 58, 1));
      border-radius: 45px;
      font-size: 34px;
      color: #fff;
    }
    .protocolBox{
      font-size: 24px;
      color: rgba(52, 58, 66, 1);
      text-align: left;
      margin-top: 85px;
      line-height: 1.4;
    }
  }
  .spaceBlock{
    height: 650px;
  }
  .tipText {
    text-align: center;
  }
  .tipWrapper {
    width: 5rem;
    height: 2rem;
  }
}

@keyframes slide{
  0% {
    top: 280px;
  }
  100% {
    top: 50px;
  }
}

@keyframes shake{
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}