:global {
	.copy_modal {
		.am-modal.am-modal-transparent {
			width: 600px;
			.am-modal-content {
				padding-top: 80px;
			}
			.am-modal-body {
				color: #121c32;
				text-align: left;
				padding: 0;
			}
		}
	}
}

.copyModalCont {
	font-size: 30px;
	color: rgba(57, 66, 89, 1);
	line-height: 42px;
	padding: 0 60px 60px;
}
.copyBtn {
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-top: 1px solid #f0f1f5;
	font-size: 34px;
	font-weight: 500;
	color: rgba(18, 28, 50, 1);
}
