@import '../../../assets/styles/scss/base/fn';

.moxie_bank_list_page {
	height: 100%;
	// padding: 40px;
	user-select: none;
	.moxie_bank_top {
		margin-bottom: 70px;
	}
	.title {
		font-size: 48px;
		font-weight: 700;
	}
	.subTitle {
		color: #fff;
		font-size: 24px;
		background: #cfcfcf;
		border-radius: 20px;
		padding: 5px 20px;
		font-weight: 200;
		margin-left: 30px;
		letter-spacing: 1PX;
		vertical-align: middle;
	}
	.bankDesc {
		font-size: 26px;
		color: #666;
		margin-top: 30px;
		span {
			margin-right: 40px;
		}
	}
	.dot {
		width: 10px;
		display: inline-block;
		height: 10px;
		position: relative;
		top: -3px;
		border-radius: 50%;
		background-color: #666;
		margin-right: 10px;
	}
	.infromationTitle {
		font-size: 50px;
		color: #121C32;
		font-family: 'PingFangSC-Semibold';
		font-weight: 600;
		padding: 55px 40px 40px;
		line-height: 1;
	}
	.desc{
		font-size: 26px;
		font-weight: 400;
		font-family: 'PingFangSC-Regular';
		color: #868E9E;
	}
	.tipsBox{
		position: fixed;
		bottom: 0;
		height: 50px;
		width: 100%;
		background: #FAF3E4;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26px;
		color: #121C32;
		z-index: 1;
		i{
			display: block;
			width: 24px;
			height: 28px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url(../../../assets/images/home/safe_ico.png);
			margin-right: 12px;
		}
	}
	// .tipsBox2{
	// 	top: 0;
	// }
	.progressBox{
		padding: 46px 50px 0 40px;
		i{
			display: block;
			width: 636px;
			height: 34px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url(../../../assets/images/home/progress_98.png);
		}
		.bottomText{
			display: flex;
			justify-content: space-between;
			font-size: 22px;
			color: #397BE6;
			margin-top: 2px;
		}
	}
	.bankList {
		text-align: center;
		clear: both;
		overflow: hidden;
		padding-bottom: 50px;
		.bankitem {
      position: relative;
      padding: 15px 0;
      .recommend_icon {
        position: absolute;
        display: inline-block;
        right: 44px;
        top: 0;
        width: 54px;
        height: 28px;
      }
			img {
				width: 80px;
			}
			.name {
				font-size: 26px;
				font-family: 'PingFangSC-Semibold';
				font-weight: 600;
				color: #121C32;
			}
			margin-bottom: 20px;
			float: left;
			width: 33.33%;
			&:active {
				background: #f8f8f8;
			}
		}
	}
}

.err_page {
	margin-top: 150px;
	text-align: center;
	.err_img {
		display: inline-block;
		width: 369px;
		height: 346px;
		@include bg-image('./img/nodata');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.reload_btn {
		margin-top: 60px;
		width: 480px;
		font-size: 36px;
		color: rgba(51, 51, 51, 1);
	}
}
