.crawl_progress_page {
	.title {
		text-align: center;
		padding: 60px 0;
		font-size: 46px;
		font-weight: 500;
		span {
			color: #327ae2;
		}
	}
	.step_item {
		display: flex;
		align-items: center;
		padding: 0 60px;
		margin-bottom: 35px;
		font-size: 30px;
		.icon {
			background: #121c32;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			display: inline-block;
		}
		.icon_not {
			border: solid 3px #868e9e;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			display: inline-block;
		}
		.desc {
			margin-left: 16px;
			padding-top: 3px;
			flex: 1;
		}
		.status {
			padding-top: 3px;
			font-weight: 500;
		}
	}
	.button {
		width: 634px;
		height: 100px;
		background: #ebde74;
		border-radius: 50px;
		margin: 160px auto 0;
		text-align: center;
		line-height: 100px;
		vertical-align: middle;
		color: #121c32;
		font-size: 34px;
	}
}
