@import '../../../assets/styles/scss/base/fn.scss';
.mine_page {
	overflow-y: auto;
	.user_inf {
		line-height: 100px;
		background: #ffda58;
		background: -webkit-linear-gradient(left, #ffd958, #ffda58); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(right, #ffd958, #ffda58); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(right, #ffd958, #ffda58); /* Firefox 3.6 - 15 */
		background: linear-gradient(to right, #ffd958, #ffda58); /* 标准的语法 */
		padding: 50px 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 100px;
			height: 100px;
			margin-right: 31px;
			vertical-align: middle;
		}
		span {
			font-size: 36px;
			color: #fff;
		}
		.follow_btn {
			width: 183px;
			height: 60px;
			line-height: 60px;
			border-radius: 30px;
			background-color: #fff;
			color: #FFBD18;
			font-size: 30px;
			text-align: center;
		}
	}
	.common_margin {
		margin-top: 24px;
	}
	.logout {
		height: 100px;
		background: #fff;
		line-height: 100px;
		font-size: 30px;
		color: rgba(51, 51, 51, 1);
		text-align: center;
		margin: 42px 0;
	}
	i {
    position: absolute;
    top: 51%;
    transform: translate(0, -50%);
    display: inline-block;
    width: 42px;
    height: 42px;
  }
}

// 菜单列表icon的类名
.coupon_page {
  @include spriteSkinIcon(0, -58px);
}
.wallet_page {
  @include spriteSkinIcon(-53px, -58px);
}
.real_name {
  @include spriteSkinIcon(-53px, 0);
}
.credit_extension_page {
  @include spriteSkinIcon(-106px, 0);
}
.select_credit_page {
  @include spriteSkinIcon(-159px, 0);
}
.select_save_page {
  @include spriteSkinIcon(-212px, 0);
}
.fqa_page {
  @include spriteSkinIcon(-265px, 0);
}

