.tabContainer {
  :global {
    .am-tabs-default-bar-tab {
      color: #282828;
      font-size: 32px;
    }
    .am-tabs-default-bar-tab-active {
      color: #ffc601;
    }
    .am-tabs-default-bar-top .am-tabs-default-bar-tab {
      border-color: #e5e5e5;
    }
  }
}
:global {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
      background-color: #e5e5e5;
    }
  }
}
