@import '../../../../../assets/styles/scss/base/fn.scss';
.contact_list_box {
	padding: 60px 0px 30px;
	:global {
		.am-list-item:not(:last-child) .am-list-line::after {
			@include setBottomLine(#E0E2E7);
		}
	}
}
.contact_list {
	li {
		position: relative;
		background: #f7f8fa;
		border-radius: 10px;
		border: 1px solid #cdcfd9;
		margin-bottom: 20px;
		overflow: hidden;
		.telSelectBox {
			position: absolute;
			top: 18px;
			right: 15px;
			padding: 15px 15px 15px 20px;
			z-index: 1;
		}
		.telSelect {
			display: block;
			width: 28px;
			height: 34px;
			background: url(../../../../../assets/image/icon/icon_mail_list.png) no-repeat;
			background-size: 100%;
		}
	}
	// li:last-child {
	// 	border-bottom: none;
	// }
	:global {
		.am-list-item.am-input-item {
			height: 100px;
			padding: 0 30px;
			background-color: transparent;
		}
		.am-list-item .am-list-line {
			padding-right: 0;
		}
		.am-list-item.hasIcon .am-list-line {
			padding-right: 50px;
		}
		.am-list-item .am-input-control input {
			// font-weight: 600;
			color: #121B33;
			font-size: 30px;
		}
	}
}
