@import '../../../assets/styles/scss/base/fn';
.step_box {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mt50 {
	margin-top: 50px;
}
.nameDiv {
	width: 100%;
	padding-bottom: .5rem;
	.infromationTitle {
		height: 80px;
		line-height: 80px;
		padding-left: 28px;
		font-size: 30px;
		span {
			border-left: 8px solid #ebde74;
			padding-left: 16px;
			font-weight: 600;
		}
	}
	.informationList {
		font-size: 32px;
		height: 140px;
		background: #fff;
		padding: 15px 20px 0 20px;
		text-align: center;
		img {
			width: 45px;
			margin-top: 30px;
		}
		table {
			width: 100%;
		}
		td {
			text-align: center;
		}
		.selectLine {
			display: inline-block;
			height: 2px;
			width: 200px;
			background: #99262a;
			position: relative;
			top: -17px;
		}
		.Line {
			display: inline-block;
			height: 2px;
			width: 200px;
			background: #e3e4e6;
			position: relative;
			top: -17px;
		}
		.imgList {
			width: 100%;
		}
	}
	.informationMore {
		position: relative;
		width: 0.13rem;
		float: right;
		right: 0.35rem;
		margin-top: -0.5rem;
	}
	.labelDiv {
		background: #fff;
	}
	.inputDiv {
		text-align: right;
		background: #fff;
		margin-top: 20px;
	}
	.nameLabel {
		display: inline-block;
		max-width: 100%;
		font-size: 30px;
		line-height: 90px;
		padding-left: 30px;
	}
	.nameInput {
		display: block;
		width: 55%;
		padding: 0.2rem 0.4rem;
		font-size: 0.3rem;
		height: 0.42rem;
		line-height: 0.42rem;
		color: #555;
		border: none;
		float: right;
		text-align: right;
		margin-top: 0.1rem;
		margin-right: 22px;
	}
	input::placeholder {
		color: #c7c6cc;
		font-size: 30px;
	}
	.clear {
		clear: both;
	}
	.inline {
		width: 96%;
		margin: -3px 0 0 30px;
		background: #d8d7dc;
		height: 1.5px;
	}
	.des {
		font-size: 20px;
		color: #9d9d9d;
		padding: 20px 30px;
		letter-spacing: 1.5px;
		line-height: 17px;
		margin-top: 15px;
		.desOne {
			line-height: 36px;
			margin-bottom: 15px;
			font-size: 0.24rem;
		}
	}
	.sureBtn {
		width: 6.2rem;
    margin-top: 89px;
    &:active{
      opacity: .5;
    }
    &.dis{
      background: #DCDFE6;
      color: #fff;
    }
	}
}

.noBorder {
	:global {
		.am-list-item.am-list-item-middle .am-list-line {
			// border-bottom: none;
			&:after {
				@include setBottomLine(transparent);
			}
		}
	}
}

:global {
	.info_gb {
		.am-list-item .am-list-line .am-list-extra {
			padding-top: 0.25rem;
			color: #333;
			margin-right: 0.35rem;
			font-size: 0.26rem;
		}
		.am-list-item.am-list-item-active {
			background-color: #fff;
		}

		.am-list-item .am-input-control input {
			text-align: right;
			padding-right: 0.05rem;
			font-size: 0.3rem;
			color: #333;
		}

		.am-list-item .am-list-line .am-list-content,
		.am-list-item .am-input-label {
			color: #121c32;
			font-weight: 600;
			font-family: 'PingFangSC-Semibold';
			font-size: 0.3rem;
		}
		.am-list-item.am-list-item-middle .am-list-line {
			// border-bottom: 1PX  solid #e5e5e5;rrr
			&:after {
				@include setBottomLine(#F0F1F5);
			}
		}
	}
}
.step_box_new {
	position: relative;
	margin-top: 40px;
	.content {
		padding: 45px 0;
		.item_box {
			background: #fff;
			margin-top: 20px;
		}
	}
}

.step_item {
	min-height: 80px;
	padding: 0 40px;
	position: relative;
	vertical-align: top;
	flex: 1;
	&:last-child .line {
		display: none;
	}
	.title {
		font-size: 40px;
		line-height: 1.4;
		color: #e0e2e6;
		position: relative;
		.step_circle {
			background-image: url(./img/circle_not.png);
      background-repeat: no-repeat;
      background-size: 18px 18px;
			width: 18px;
			position: absolute;
			left: -32px;
			top: 24px;
			height: 18px;
		}
	}
	&.active .title {
		font-size: 50px;
		color: #121c32;
		font-family: 'PingFangSC-Semibold';
		font-weight: 600;
		.step_circle {
			top: 28px;
			background-image: url(./img/circle.png);
		}
	}
	.line {
		position: absolute;
		left: 13px;
		top: 16px;
		height: calc(100% - 16px);
		width: 1PX;
		padding: 30px 0 4px;
		&::after {
			content: "";
			display: inline-block;
			background: #ddd;
			border-radius: 2PX;
			// -webkit-transition: background .3s;
			// transition: background .3s;
			position: relative;
			left: 2px;
			height: 100%;
			width: 2px;
			background-color: #e0e2e6;
		}
	}
}
