.bottomButtonWrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
	box-shadow: 0px 1px 0px 0px rgba(240, 241, 245, 1);
}

.moneyShow {
	font-size: 32px;
	color: $colorInactiveColor;
	font-weight: 500;

	em {
		color: $colorTipRed;
		font-family: $fontFamilyNumber;
	}
}

.sxf_btn {
	width: 320px;
	height: 100px;
	font-size: 36px;
	color: #121c32;
	border-radius: 50px;
	margin: 20px 0 20px;
}
.sxf_btn_disabled {
	background-color: #dcdfe6;
  color: #f7f8fa;
  opacity: .3;
}
