.income_page{
	margin: 0 19px;
}
.incomeBox{
	background: #fff;
	margin-top: 30px;
	padding: 20px;
	border-radius: 30px;
	.incomeTit{
		font-size: 30px;
		font-weight: 400;
		color: rgba(37, 39, 41, 1);
		margin-left: 16px;
	}
	.incomeCont{
		position: relative;
		margin-top: 23px;
		background: url(assets/images/mine/wallet/income_bg.png) no-repeat center;
		background-size: 100% 100%;
		// border-radius: 30px;
		padding: 0 13px;
		display: flex;
		align-items: center;
		height: 192px;
		.redBag{
			width: 110px;
		}
		.incomeMoney{
			font-size: 30px;
			font-weight: 400;
			color: rgba(240, 91, 25, 1);
			span{
				font-size: 50px;
				margin-left: 14px;
			}
		}
		.incomeTime{
			margin: 18px 0;
		}
	}
	.incomeContExpired{
		background-image: url(assets/images/mine/wallet/income_bg2.png);
	}
	.incomeContSucc{
		background-image: url(assets/images/mine/wallet/income_bg3.png);
	}
	.incomeContent{
		margin-left: 30px;
		font-size: 24px;
		font-weight: 400;
		color: rgba(37, 39, 41, 1);
	}
}
.noMsg {
	position: relative;
	height: 100%;
	width: 100%;
	color: #999;
	margin-top: 500px;
	font-size: 36px;
	text-align: center;
	padding-top: 90px;
	i {
		width: 735px;
		height: 358px;
		left: 50%;
		margin-left: -367.5px;
		position: absolute;
		top: -338px;
		vertical-align: middle;
		// @include bg-image('../../../assets/images/coupon/no_data');
		background-image: url(assets/images/mine/wallet/no_data.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		//  background: black;
		box-sizing: border-box;
	}
}
.income_page {
	:global {
		.am-pull-to-refresh-indicator {
		  font-size: 26px;
		}
		.am-list-body {
		  background-color: #f5f5f5;
		  &::before {
			background-color: transparent !important;
		  }
		  &::after {
			background-color: transparent !important;
		  }
		}
		.am-tabs-content-wrap {
		  background-color: #f5f5f5;
		}
		.am-list-view-scrollview {
		  border: none !important;
		}
	}
}
.box {
	.rightLittleBox{
		.ellipsis {
			// @include ellipsis(375px);
			width: 375px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
		}
	}
}
