/* stylelint-disable */
a,
a:hover {
	text-decoration: none;
}
.alert_congratulation {
	width: 100%;
}
.img_box {
	position: relative;
	.close_icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		color: #387561;
	}
	.btn_loan2 {
		background-color: #f48233;
		&::before {
			border: 1px solid #f48233 !important;
		}
	}
	.btn_loan {
		position: absolute !important;
		bottom: 30px;
		width: 80%;
		left: 50%;
		transform: translate(-50%, 0);
		background: rgba(255, 175, 75, 1);
		background: -moz-linear-gradient(top, rgba(255, 175, 75, 1) 0%, rgba(244, 128, 51, 1) 100%);
		background: -webkit-gradient(
			left top,
			left bottom,
			color-stop(0%, rgba(255, 175, 75, 1)),
			color-stop(100%, rgba(244, 128, 51, 1))
		);
		background: -webkit-linear-gradient(top, rgba(255, 175, 75, 1) 0%, rgba(244, 128, 51, 1) 100%);
		background: -o-linear-gradient(top, rgba(255, 175, 75, 1) 0%, rgba(244, 128, 51, 1) 100%);
		background: -ms-linear-gradient(top, rgba(255, 175, 75, 1) 0%, rgba(244, 128, 51, 1) 100%);
		background: linear-gradient(to bottom, rgba(255, 175, 75, 1) 0%, rgba(244, 128, 51, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#f48033', GradientType=0 );
		&::before {
			border: 1px solid #f48233 !important;
		}
	}
	.tip_text {
		position: absolute !important;
		bottom: 30px;
		top: 60%;
		letter-spacing: 3px;
		width: 80%;
		transform: translate(-50%, -50%);
		left: 50%;
		font-size: 32px;
		color: #333;
		font-weight: 600;
	}
	.award_img {
		position: absolute;
		width: 90%;
		top: 250px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.alert_list {
		position: absolute;
		top: 155px;
		width: 100%;
		left: 0;
	}
	.alert_list_c {
		height: 480px;
		overflow: auto;
		background: #fff;
	}
}
:global {
	.am-modal.login_modal {
		&.am-modal-transparent {
			width: 90%;
		}
		.am-modal-content {
			padding-top: 0;
			.am-modal-body {
				padding: 0;
			}
		}
	}
	.login_tel.am-modal {
		.am-modal-transparent {
			width: 90%;
		}
	}
}
