.home_header_wrap {
  padding: 34px 40px 20px;
  background-color: #fff;
  border-bottom: 1px solid #EBEBEB;
  .home_header_main {
    display: flex;
    .home_header_title {
      flex: 1;
      font-size: 46px;
      font-family: 'PingFangSC-Semibold';
      font-weight: 600;
      color: #121B33;
    }
  }
  .home_header_sub {
    margin-top: 5px;
    font-size: 24px;
  }
	.messageIcon {
    display: inline-block;
		width: 60px;
		position: relative;
		margin: auto;
		height: 60px;
		background-position: 10px 10px;
		background-size: 40px 40px;
		background-repeat: no-repeat;
		background-image: url(./img/message.png);
		.active {
			position: absolute;
			top: 3px;
			right: 3px;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			background: #fe6666;
		}
	}
}
