@import '../../../../../assets/styles/scss/base/fn.scss';
.bank_content_wrap {
	position: relative;
	text-align: center;
	.abnormal_tip_box {
		position: relative;
	}
	.abnormal_tip {
		background: #878787;
		font-size: 24px;
		border-radius: 4px;
		color: #fff;
		text-align: center;
		position: absolute;
		padding: 2px 10px;
		padding-right: 50px;
		left: 50%;
		transform: translate(-50%, 0);
		top: -60px;
		white-space: nowrap;
		span {
			margin: 0 5px;
		}
	}
	.triangle_border_down {
		transform: translate(-50%, 0%);
		width: 0;
		height: 0;
		left: 50%;
		bottom: -10px;
		position: absolute;
		border-width: 10px 10px 0;
		border-style: solid;
		border-color: #878787 transparent transparent;
		margin: 0 auto;
	}
	.info_button {
		margin-top: 1.1rem;
		width: 6.2rem;
	}
	.link_tip {
		display: block;
		width: 100%;
		margin-top: 0.3rem;
		text-align: center;
		color: #4da6ff;
		font-size: 0.3rem;
		border: 0;
		background-color: transparent;
	}
	.link_arrow_img {
		margin-left: 10px;
		margin-bottom: 3px;
		@include setArrow(right, 12px, #4da6ff, 1PX);
	}
	.progress_box {
		position: absolute;
		top: 3.95rem;
		width: 100%;
		text-align: center;
		font-size: 30px;
		color: rgba(138, 138, 138, 1);
		span {
			color: #fe0000;
		}
	}

	.closeIcon {
		position: absolute;
		top: 7px;
		right: 5px;
	}
	.subDesc {
		font-size: 24px;
		color: #c7c6cc;
		text-align: center;
		margin-top: 30px;
	}
}
.smart_button_two {
    margin-top: 0.3rem;
    width: 5.8rem;
}