.main {
  position: relative;
  background-image: url('./img/activity_bg.png');
  background-size: cover;
  min-height: 1340px;
  overflow: hidden;
}

.mpos_bg {
  background-image: url('./img/activity_mpos_bg.png');
}

.rule {
  position: absolute;
  right: 0;
  top: 30px;
  color: #0B8463;
  font-size: 28px;
  width: 145px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 24px 0 0 24px;
}

.ruleWrap {
  padding: 30px 30px 70px;
}

.slideWrap {
  position: absolute;
}

.phoneWrap {
  position: relative;
  top: 800px;
  width: 460px;
  height: 48px;
  line-height: 48px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 23px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.phoneText {
  color: #6C6C6C;
  font-size: 26px;
}

.couponWrap {
  position: absolute;
  text-align: center;
  top: 870px;
}

.couponItem {
  margin: 0 12px 30px;
  width: 224px;
  height: 150px;
  // animation: bounce-up 1.4s linear infinite;
}

.buttonWrap {
  text-align: center;
}

.stepImg {
  margin-top: 920px;
  width: 582px;
  height: 142px;
}

.submitBtn {
  position: relative;
  width: 520px;
  height: 90px;
  margin: 1116px auto 0;

  .btn {
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
  }
  .btn1 {
    z-index: 2;
    animation: shake 1.5s linear infinite;
  }
  .btn2 {
    top: 10px;
    z-index: 0;
  }
}

.mask {
  position: fixed;
  background-color: rgba(0, 0, 0, .3);
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.tipWrapper {
  width: 560px !important;
  text-align: center !important;
  color: #333;
}

.tipText {
  height: 160px;
}

.buttonModal {
  height: 324px !important;
}

.modalWrapper {
  position: fixed;
  width: 620px;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  box-sizing: border-box;
  text-align: left;

  h2 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 36px;
  }

  li {
    font-size: 30px;
    color: #6c6c6c;
  }

  .closeBtn {
    width: 26px;
    height: 26px;
    background-image: url('./img/close_icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 24px;
    right: 24px;
    color: #000;
  }

  .bottomBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      border-top: 1px solid #9D9D9D;
      transform: scaleY(0.5);
    }
    .button {
      display: inline-block;
      width: 50%;
    }
    .color {
      color: #0B8463;
      &::after {
        position: relative;
        left: -200px;
        top: 18px;
        content: "";
        transform: scaleX(0.5);
        display: inline-block;
        height: 58px;
        width: 1px;
        background: #9d9d9d;
      }
    }
  }
}

@keyframes shake {
  25% {
    transform: translateY(3px);
  }
  50%, 100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-8px);
  }
}

 @keyframes bounce-up {
  25% {
    transform: translateY(10px);
  }
  50%, 100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
 }
