.container {
	background-color: #fff;
}
.title {
	height: 100px;
	line-height: 100px;
	padding-left: 40px;
	color: #121c32;
	font-size: 36px;
	font-weight: 600;
	text-align: left;
	background-color: #f7f8fa;
}
.itemStyle {
	flex-direction: row;
	padding: 20px 40px 20px 0;
}
.itemText {
	font-size: 28px;
	color: #121c32;
}

.itemtextactive {
	font-weight: bold;
	font-size: 28px;
	color: #121c32;
}
.icon {
	margin-right: 5;
}

.tab {
	margin: 0 10px 10px;
	position: relative;
}

.tabtext {
	font-size: 28px;
	height: 100px;
	line-height: 100px;
	padding: 0 15px;
}

.tabtextactive {
	font-weight: bold;
}
.tabBar {
	height: 6px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	margin-top: 10px;
	background: linear-gradient(90deg, #FDCD01 0%, #FFF1C0 100%);
}
.areaBox {
	overflow-y: scroll;
	text-align: left;
	padding: 0px 40px 60px;
	height: 800px !important;
}
.headerbox {
	display: flex;
	padding: 30px 40px;
	font-size: 28px;
	font-weight: 600;
	overflow: auto;
}

.tabActive {
	color: #121c32;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.disActive {
	color: #121c32;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.checkIcon {
	vertical-align: middle;
	color: $colorYellow;
  font-size: 24px;
  margin-right: 10px;
}
