@import '../../../assets/styles/scss/base/fn.scss';
.bindSavePage {
  padding-bottom: 300px;
}
.header {
	margin: 0 10px 50px 50px;
	color: #121c32;
	font-size: 46px;
	font-family: 'PingFangSC-Semibold';
  font-weight: 600;
  padding-top: 50px;
}
.support_type {
	display: inline-block;
	margin: 20px 60px;
	font-size: 26px;
	color: $colorBlue;
}

.confirm_btn_box{
  padding: 0 40px 20px 40px;
}
.time_container {
	position: relative;

	.CountDownButton {
		background-color: #fff;
		color: $colorBlue;
		min-height: 60px;
    line-height: 60px;

		border-radius: 0.1rem;
		border: none
	}
	.count_btn {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -30px;
	}
}
.xieyi {
	width: 620px;
	margin: 20px auto;
	color: #868e9e;
	font-size: 24px;
	font-family: 'PingFangSC-Regular';
	font-weight: 400;
	a {
		color: #121c32;
	}
}
.top20 {
	margin-top: 30px;
}
.buttonWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
:global {
	.bind_save_page_listBox {
		margin: 0 60px 0 30px;
		.am-list-item {
			min-height: 100px;
		}
		.am-list-item .am-list-line .am-list-content {
			color: #394259;
			font-family: 'PingFangSC-Regular';
			font-weight: 400;
			font-size: 28px;
		}
		// .am-list-item .am-list-line .am-list-arrow{
		//   background-image:url(./)
		// }
		.am-list-item .am-input-label {
			color: #394259;
			font-family: 'PingFangSC-Regular';
			font-weight: 400;
			font-size: 28px;
		}
		.am-list-item .am-input-control input {
			text-align: right;
		}
		.am-list-item .am-list-line .am-list-extra {
			color: #121c32;
			font-size: 28px;
			font-family: 'PingFangSC-Medium';
			font-weight: 500;
		}
		.am-list-item .am-list-line {
			padding-right: 0;
		}
		.am-list-item .am-input-control input {
			color: #121c32;
			font-weight: normal;
      font-size: 28px;
    }
    .am-list-item.am-input-focus .am-input-clear {
      width: 30px;
      height: 30px;
      background-size: 28px auto;
      margin-left: 10px;
      background-color: #CDD0D8;
    }
    .am-list-item .am-input-control input::-webkit-input-placeholder{
      color:#B2B6BF;
    }
    .am-list-item .am-input-control input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#B2B6BF;
    }
    .am-list-item .am-input-control input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#B2B6BF;
    }
    .am-list-item .am-input-control input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
        color:#B2B6BF;
    }
		.sms .am-list-item .am-input-control input {
			padding-right: 228px;
    }
	}
}
