.wuyuekh_page {
	// height: 100vh;
	background: linear-gradient(180deg, rgba(86, 224, 255, 1) 0%, rgba(8, 104, 254, 1) 100%);
	.topContainer {
		position: relative;
	}
	.activity_bg {
		width: 100%;
	}
	.useBtn {
		position: absolute;
		left: 93px;
		bottom: 299px;
		width: 564px;
		// height: 134px;
		animation: bounce 1s infinite;
	}
	.protocolBox {
		position: absolute;
		bottom: 229px;
		left: 138px;
		right: 110px;
		font-size: 22px;
		color: #eff5ff;
		line-height: 30px;
		span {
			color: #420000;
		}
	}
	.ruleBox {
		padding-bottom: 82px;
	}
	.ruleBg {
		display: block;
		width: 384px;
		margin: 25px auto 20px;
	}
	.ruleContBox {
		box-sizing: border-box;
		width: 630px;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.09960000000000001);
		border-radius: 21px;
		padding: 50px 37px;
		p {
			font-size: 26px;
			color: #fff;
			line-height: 37px;
			margin-bottom: 16px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
.wuyuekh_page2 {
	// height: calc(100vh - 0.88rem);
}
.rule {
	position: absolute;
	top: 20px;
	right: 0;
	img {
		display: block;
		width: 145px;
		height: 48px;
	}
}

.modal {
	.mask {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.3);
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	.modalWrapper {
		position: fixed;
		width: 620px;
		border-radius: 10px;
		padding: 26px 30px 50px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1000;
		background-color: #fff;
		box-sizing: border-box;
		.rulesCont {
			// height: 760px;
			// overflow-y: scroll;
			// -webkit-overflow-scrolling: touch;
		}

		h2 {
			text-align: center;
			font-size: 36px;
			color: #121c32;
			margin-bottom: 26px;
		}

		h3 {
			font-size: 36px;
			color: #121c32;
			margin-bottom: 10px;
		}

		p {
			color: #6c6c6c;
			font-size: 30px;
			// text-indent: 0.8em;
			margin-bottom: 10px;
			margin-left: 20px;
		}

		.closeBtn {
			width: 50px;
			height: 50px;
			position: absolute;
			right: 24px;
			top: 14px;
		}
	}
	.tipText {
		text-align: center;
		margin: 20px 20px 0;
	}
	.closeBtnStyle {
		width: 50px;
		height: 50px;
		background-image: url(./img/close_btn.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: absolute;
		bottom: -80px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.07);
	}
	100% {
		transform: scale(1);
	}
}
