.listsContainer {
	:global {
		.am-list-item {
			min-height: 100px;
			padding-left: 34px;
		}
		.am-list-item .am-list-line {
			padding-right: 34px;
		}
		.am-list-item .am-list-line .am-list-content {
			font-size: 28px;
			line-height: 1;
			color: #333;
		}
		.am-list-item img {
			width: 42px;
			height: auto;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
		.am-list-item .am-list-line .am-list-extra {
			padding: 0;
			line-height: 1;
			margin-right: 0;
		}
		.am-list-extra span {
			font-size: 28px;
			display: block;
			& + span {
				font-size: 28px !important;
				line-height: 1.5;
			}
		}
		.am-list-item .am-list-line .am-list-arrow {
			width: 16px;
			height: 28px;
			margin-left: 18px;
		}
		.am-list-body {
			border: none;
		}
		.am-list-body div:not(:last-child) .am-list-line {
			border-color: #e5e5e5;
		}
		.am-list-item .am-list-thumb:first-child {
			margin-right: 0;
		}
		.am-list-item .am-list-line .am-list-brief {
			font-size: 28px;
			color: rgba(157, 157, 157, 1);
			margin-top: 8px;
		}
	}
	.hasIcon {
		:global {
			.am-list-line {
				padding-left: 55px;
			}
		}
	}
	.item_desc {
		background-color: #f5f5f5;
		padding-left: 34px;
		padding-right: 34px;
	}
}
:global {
	.list_box {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
			html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line::after {
				background-color: #e5e5e5;
			}
			html:not([data-scale]) .am-list-body::after,
			html:not([data-scale]) .am-list-body::before {
				background-color: transparent;
			}
		}
	}
}
.rightIcon {
	animation-name: fadeInRightBig;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.3, 1, 1, 1);
	animation-iteration-count: 1;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translate(0%, -50%);
	width: 110px;
	height: 42px;
	display: inline-block;
	background: linear-gradient(90deg, #fe7117, #ff3d14);
	border-radius: 6px;
	font-size: 24px;
	font-family: 'PingFangSC-Regular';
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 42px;
	padding-left: 35px;
	.redBag {
		width: 0.2rem;
		height: 0.22rem;
		position: absolute;
		top: 0.1rem;
		left: 0.15rem;
		background-image: url(./img/redBag@2x.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		box-sizing: border-box;
	}
}
@keyframes fadeInRightBig {
	0% {
		right: -200px;
	}

	to {
		right: 0;
	}
}
