.list_desc_container_box {
	background-color: #f7f8fa;
	padding: 30px;
	box-sizing: border-box;
}
.list_desc_container_clearbox {
	margin-left: 50px;
}
.list_desc_container {
	display: flex;
	margin-top: 5px;
	font-size: 28px;
	&:first-child {
		margin-top: 0;
	}
}
.list_sub_desc {
  font-size: 22px;
  color: #C9CDD5;
  margin-top: 5px;
}
.list_desc_container_FW {
	display: flex;
	margin-top: 10px;
	font-size: 28px;
	font-weight: 700;
	&:first-child {
		margin-top: 0;
	}
}
.hasTotal {
	&:last-child {
		position: relative;
		margin-top: 30px;
		padding: 30px 0 0;
		&::before {
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 1px;
			border-top: 1px solid #e5e5e5;
			color: #e5e5e5;
			transform-origin: 0 0;
			transform: scaleY(0.5);
		}
	}
}
.list_desc_content {
	flex: 1;
	color: #868e9e;
	font-size: 28px;
	text-align: left;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list_desc_extra {
	flex: 1;
	color: #868e9e;
	font-size: 28px;
	text-align: right;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list_desc_extra_FW {
	flex: 1;
	color: #868e9e;
	font-size: 28px;
	font-weight: 800;
	text-align: right;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
