.addBtn {
	display: flex;
	width: 634px;
	height: 100px;
	border: 2px dashed #868e9e;
	border-radius: 50px;
	background: transparent;
	color: #121c32;
	font-size: 30px;
	margin: 20px auto 50px;
	align-items: center;
	justify-content: center;
	i {
		width: 26px;
		height: 26px;
		margin-right: 12px;
		// display: inline-block;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: url(./img/add_ico.png);
	}
}
