.padding_bottom {
	height: calc(100% + 1px);
	overflow-x: hidden;
	overflow-y: auto;
}
.bg_top {
	background: url('./img/top.png') no-repeat;
	background-size: 100%;
	width: 100%;
	height: 508px;
}
.bg_list {
	margin: 70px auto 0;
	background: url('./img/list.png') no-repeat;
	background-size: 100%;
	width: 600px;
	height: 200px;
}
.smart_button {
	background: #2a2b2c;
	color: #fff;
	width: 634px;
	margin: 0 auto;
	&:active {
		opacity: 0.5;
	}
	&.dis {
		background: #dcdfe6;
	}
}
.btn_fixed {
	position: fixed;
	bottom: 130px;
	z-index: 10;
	margin: 0 auto;
	left: 50%;
	// transform: translate(-50%, 0)
	margin-left: -317px;
}
// .protocol_box{
//   padding: 18px 0;
//   font-size: 24px;
//   margin: 0 auto;
//   color: #a8a79b;
//   a {
//     color: #414a53;
//   }
// }
:global {
	.mpos_middle_checkbox {
		width: 634px;
		margin: 0 auto;
		&.am-checkbox-agree .am-checkbox-agree-label {
			font-size: 24px;
			color: #a8a79b;
			a {
				color: #414a53;
			}
		}
		.am-checkbox.am-checkbox-checked .am-checkbox-inner {
			background-color: #2a2b2c;
			border-color: #2a2b2c;
		}
		&.am-checkbox-agree .am-checkbox-inner {
			left: 0.2rem;
		}
		.am-checkbox-inner {
			width: 0.32rem;
			height: 0.32rem;
		}
		.am-checkbox-inner:after {
			width: 0.09rem;
			height: 0.18rem;
			top: 0.02rem;
			right: 0.09rem;
		}
	}
}
