.cardHome {
  background-image: url('../../../assets/images/menbership_card/组 7@2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: content-box;
  width: 620px;
  height: 330px;
  margin: 0 auto;
  margin-top: 0.43rem;
  margin-bottom: 1.27rem;
}
.cardMoney {
  color: #ea2c32;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.6rem;
  height: 1.8rem;
  line-height: 1.8rem;
}
.cardNumber {
  color: #ea2c32;
  font-size: 0.6rem;
  text-align: center;
  padding-top: 0.6rem;
  line-height: 1.8rem;
  height: 1.8rem;
}
.icon {
  color: #ea2c32;
  font-size: 0.3rem;
  margin-left: -0.3rem;
}
.vipIcon {
  margin-top: 0.73rem;
  text-align: center;
  img {
    width: 6.26rem;
    // height: 0.33rem;
  }
}
.cardTitle {
  color: #e6e6e6;
  font-size: 0.24rem;
  text-align: center;
}
.sureBtn {
  font-size: 36px;
  color: #333;
  width: 6.2rem;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.5rem;
  background: #e9dd83;
}
.productList {
  font-size: 0.3rem;
  color: #333;
  padding-left: 0.6rem;
  margin-top: 0.3rem;
}
.prompt {
  font-size: 0.3rem;
  color: #f44258;
  padding: 0 0.6rem;
  margin-top: 0.63rem;
}
