.bank_content_wrap {
  .info_button {
    margin-top: 1.1rem;
    width: 6.2rem;
  }
  .link_tip {
    display: block;
    width: 100%;
    margin-top: 0.7rem;
    text-align: center;
    color: #4da6ff;
    font-size: 0.3rem;

    border: 0;
    background-color: transparent;
  }
  .link_arrow_img {
    width: 0.13rem;
    height: 0.22rem;
    vertical-align: middle;
    margin-left: .1rem;
  }
}
