.bg {
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 501;
}

.num {
	position: absolute;
	z-index: 11;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	span {
		font-size: 300px;
		color: #fff;
		opacity: 0;
		text-align: center;
		font-family: 'DINMitAlt';
		display: block;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
		animation-iteration-count: 1;
	}
}
.numBg {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	width: 750px;
	height: 750px;
	background: rgba(255, 255, 255, .1);
	border-radius: 50%;
	opacity: 0;
	transition: all 1s;
	animation-name: breathe1;
	transform: translate(-50%, -50%);
	animation-duration: .6s;
	animation-timing-function: cubic-bezier(1, 1, 1, 1);
	animation-iteration-count: 1;
}
