.padding_bottom {
	height: calc(100% + 1px);
	overflow-x: hidden;
	overflow-y: auto;
}

.mpos_service_authorization_page {
	padding-top: 70px;
}

.logoWrap {
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 60px;
	margin: 0 30px 40px;
	.logo {
		width: 152px;
		height: 152px;
		display: block;
		margin: 0 auto;
	}
}
.rule_title {
	font-size: 36px;
	color: #121c32;
	font-weight: bold;
	padding-left: 54px;
}
.rule_list {
	li {
		list-style: disc;
		margin-left: 90px;
		font-size: 28px;
		color: #394259;
	}
}

.sureBtn {
	background: #547bf5;
	color: #fff;
	width: 700px;
	margin: 70px 25px 0;
	border-radius: 8px;
	box-shadow: 0 0px 8px #547bf5;
	font-size: 34px;
	display: block;
	font-weight: normal;
}

.agreement_box {
	position: absolute;
	bottom: 6px;
}
