@import '../../../assets/styles/scss/base/fn.scss';
.confirm_agency {
	/* stylelint-disable */
	::-webkit-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	:-ms-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	::-ms-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	::placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	.scrollWrap {
		padding-bottom: 160px;
	}

	.inputWrap {
		padding-bottom: 80px;
		background-color: #fff;
	}
	.billInpBox {
		position: relative;
		padding: 76px 40px 0;
		box-sizing: border-box;
		.moneyUnit {
			position: absolute;
			font-size: 40px;
			color: #394259;
			left: 40px;
			top: 92px;
			z-index: 10;
		}
		&::after {
			@include setBottomLine(#333);
			left: 40px;
			right: 40px;
			bottom: 0;
		}
	}
	.billInpBoxTip {
		margin: 0 40px;
		font-size: 24px;
		color: $colorInactiveColor;
		margin-top: 20px;
	}
	.billInput {
		background-color: transparent;
		padding-left: 0;
		input {
			font-size: 80px;
			font-family: 'DINMitAlt';
			color: #394259;
			padding-left: 41px;
			padding-right: 110px;
		}
	}
	.lendAllStyle {
		position: absolute;
		right: 40px;
		top: 80px;
		font-size: 30px;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		color: #ffbc00;
		line-height: 88px;
		padding-left: 30px;
	}
	.pannel {
		overflow: hidden;
		margin: 20px 30px;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #f0f1f5;
		padding: 0 30px;
		.listItem {
			position: relative;
			display: flex;
			min-height: 110px;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			font-size: 30px;
			color: #121b33;
			flex-wrap: wrap;
			padding: 20px 0;
		}
		.labelSub {
			font-size: 24px;
			color: $colorSubTitle;
			line-height: 32px;
			margin-top: -25px;
			padding-bottom: 20px;
		}
		.listItem + .listItem {
			&::after {
				@include setTopLine(#f0f1f5);
				left: 0;
			}
		}
		.listItem3 {
			align-items: flex-start;
			// min-height: 155px;
			// padding-top: 30px;
		}
		.TabListWrap {
			width: 100%;
			margin-top: 20px;
		}

		.listValue {
			font-size: 30px;
			margin-top: 3px;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #394259;
		}
		.numberFont {
			font-family: 'DINMitAlt';
		}
		.listValue2 {
			font-weight: 500;
			font-size: 30px;
			font-family: 'PingFangSC-Medium';
			line-height: 2;
			color: #b2b6bf;
		}
		.listValue3 {
			display: block;
			position: relative;
			line-height: normal;
			text-align: right;
		}
		.hasArrow {
			padding-right: 24px;
		}
		.listDesc {
			font-size: 24px;
			color: #394259;
			text-align: right;
      padding-right: 24px;
      margin-top: 8px;
		}
		// 息费合计
		.derateMoney {
			margin-left: 10px;
		}
		.allMoneyBox {
			display: flex;
			text-align: right;
			color: $colorSubTitle;
			justify-content: space-between;
      font-size: 24px;
      margin-top: 12px;
		}
		.moneyTit {
			width: 150px;
		}
		.allMoney {
			text-decoration: line-through;
			margin-left: 10px;
		}
		.highlightText {
			padding-right: 30px;
		}
		.icon {
			position: absolute;
			width: 40px;
			height: 50px;
			color: #121c32;
			right: -12px;
			top: 50%;
			margin-top: -25px;
			// margin-bottom: 5px;
		}
		.greyText {
			color: #b2b6bf;
			font-family: sans-serif;
			font-weight: normal;
		}
	}

	.redText {
		color: #fe6666;
	}

	.buttonWrap {
		width: 100%;
		padding: 16px 40px 0 40px;
		position: fixed;
		z-index: 10;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		background-color: #fff;
		text-align: center;
	}
	.bottomTip {
		font-size: 22px;
		color: #f76c5c;
	}
	// 优惠劵金额展示
	.couNumBox {
		display: flex;
		height: 42px;
		background: linear-gradient(90deg, rgba(254, 115, 23, 1) 0%, rgba(255, 61, 20, 1) 100%);
		border-radius: 3px;
		padding: 0 10px;
		align-items: center;
		font-size: 22px;
		color: #fff;
		font-weight: normal;
		font-family: 'PingFangSC-Regular';
		i {
			display: block;
			width: 20px;
			height: 22px;
			background: url('../../../assets/images/home/coupon_ico_img.png') no-repeat center;
			background-size: 100%;
			margin-right: 10px;
		}
	}
}
:global {
	.confirm_agency_wrap {
		:global {
			.am-modal-button-group-v .am-modal-button {
				color: #121c32;
				font-size: 34px;
				font-family: 'PingFangSC-Medium';
				font-weight: 500;
			}
			.am-list-item .am-input-control input:disabled {
				background-color: transparent;
				color: #121c32;
			}
			.am-modal-transparent {
				width: 580px;
			}
			.am-modal-transparent .am-modal-content {
				padding-top: 60px;
				border-radius: 6px;
			}
			.am-modal-transparent .am-modal-content .am-modal-body {
				padding: 0 35px 60px;
				text-align: justify;
			}
		}
	}
	.confirm_agency {
		.am-list-item.am-input-item {
			height: auto;
			padding-left: 40px;
		}
		.am-list-item {
			.am-list-line {
				padding-right: 0;
			}
		}
	}
}

.shakeAnimatedText {
	position: absolute;
	right: 0;
	top: 32px;
	animation: shake 0.8s linear;
}
@keyframes shake {
	10%,
	50%,
	90% {
		transform: translateX(15px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(0px);
	}
	30%,
	70% {
		transform: translateX(-15px);
	}
}
