@import "../../../assets/styles/scss/base/fn.scss";
.confirm_agency {
	input::placeholder {
		color: #999;
		font-size: 0.6rem;
	}

	padding: 70px 60px 0;

	.scrollWrap {
		padding-bottom: 160px;
	}

	.billInpBox {
		position: relative;
		margin-bottom: 30px;

		.moneyUnit {
			position: absolute;
			font-size: 40px;
			color: #333;
			left: 0;
			top: 14px;
			z-index: 10;
		}
		&::after {
			@include setBottomLine(#333);
			left: 0;
			bottom: 15px;
		}
	}
	.billInput {
		input {
			text-align: left;
			font-size: 90px;
			font-family: "DINMitAlt";
		}
	}
	.inputTip {
		font-size: 24px;
		color: #868e9e;
		margin: 20px 0 30px;
	}

	.pannel {
		overflow: hidden;
		.listItem {
			position: relative;
			display: flex;
			min-height: 110px;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			font-size: 30px;
			color: #121c32;
			&::after {
				@include setBottomLine(#f0f1f5);
				left: 0;
			}
		}

		.listValue {
			font-weight: 500;
			font-size: 30px;
			font-family: 'PingFangSC-Medium';
			line-height: 2;
    }
    .listValue2 {
			font-weight: 500;
			font-size: 30px;
			font-family: 'PingFangSC-Medium';
      line-height: 2;
      color: #868E9E;
		}

		.icon {
			vertical-align: middle;
			width: 40px;
			height: 50px;
			color: #121c32;
			margin-bottom: 5px;
		}
	}

	.protocolLink {
		font-size: 24px;
		color: #8e8d7b;
		margin: 24px 0 24px;
		em {
			color: #121c32;
		}
	}

	.greyText {
		color: #868e9e;
	}

	.redText {
		color: #fe6666;
	}

	.addIcon {
		font-size: 35px;
		color: #333;
		margin-left: 10px;
	}

	.tagListWrap {
		color: #121c32;
	}

	.tagButton {
		display: inline-block;
		width: 140px;
		height: 50px;
		line-height: 48px;
		text-align: center;
		border-radius: 25px;
		font-size: 30px;
		background: #fff;
		color: #868e9e;
		border: 1px solid #868e9e;
		box-sizing: border-box;
		margin-bottom: 20px;
		margin-right: 35px;
		&:nth-child(3n + 3) {
			margin-right: 0;
		}
	}

	.tagButtonActive {
		color: #fe6666;
		border: 1px solid #fe6666;
	}

	.buttonWrap {
		width: 100%;
		padding: 30px 0;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #fff;

		.submitBtn {
			width: 634px;
		}

		.submitBtnDisabled {
			width: 634px;
			background-color: #d8d8d8;
			color: #fff;
		}
	}
}
.closeIcon{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  color: #C9CDD5;
  z-index: 10;
}
:global {
	.modal_VIPTip_warp {
		.am-modal-button-group-v .am-modal-button {
			color: #ebde74;
		}
	}
	.confirm_agency_warp {
		:global {
			.am-modal-button-group-v .am-modal-button {
				color: #ebde74;
			}
		}
	}
	.confirm_agency_progress {
		.am-progress-bar {
			border: 0.04rem solid #ffda58;
		}
	}
	.purpose_modal {
		.am-modal-body {
			padding: 50px 60px 0;
		}
	}
	.confirm_agency {
		.am-list-item.am-input-item {
			height: auto;
		}
	}
	.fenqi_tip_modal.am-modal-transparent {
		.am-modal-body {
			position: relative;
		}
		.am-modal-content {
			padding: 0;
			border-radius: 6px;
			.am-modal-body {
				padding: 0;
			}
		}
	}
}

.modalDesc {
	font-size: 26px;
	color: #868e9e;
	text-align: left;
	margin: 32px 0 64px;
}

.modalItem {
	position: relative;
	height: 110px;
	line-height: 110px;
	width: 100%;
	font-size: 32px;
	color: #121c32;
	&::after {
		@include setBottomLine(#f0f1f5);
		left: 0;
	}
}

.tipInfo {
	color: #868e9e;
	font-size: 30px;
	margin: 93px 35px 50px;
}

.tipButton {
	position: relative;
	color: #121c32;
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 34px;
	font-weight: 400;
	&::after {
		@include setTopLine(#f0f1f5);
		left: 0;
	}
}

.tipCloseIcon {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 55px;
	height: 55px;
}
.modalLoading {
	color: #666;
	margin-bottom: 15px;
	font-size: 32px;
}
.modal_content {
	position: relative;
	.modal_close_btn {
		position: absolute;
		top: -5px;
		right: 0;
	}

	.modal_title {
		font-size: 0.36rem;
		color: #333;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 0.3rem;
	}

	.bill_list {
		padding: 0.1rem;
		max-height: 500px;
		overflow: scroll;
	}

	.list_item {
		display: flex;
		justify-content: space-between;
		padding: 0.13rem 0;
	}

	.item_name {
		font-size: 0.3rem;
		color: #333;
	}

	.item_value {
		font-size: 0.3rem;
		color: #333;
		font-weight: bold;
	}
}
.tagList {
	margin-right: 0;
}
.modalTitle {
	font-size: 36px;
	color: #121c32;
}
.modalUl {
	margin-top: 20px;
	li {
		font-size: 30px;
		color: rgba(134, 145, 157, 1);
		text-align: left;
		margin-left: 45px;
		line-height: 50px;
		i {
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
			top: 8px;
			margin-right: 20px;
		}
		.vipIco1 {
			@include spriteIcon('../../../assets/images/common/sprite_icon.png',-320px, -296px);
		}
		.vipIco2 {
			@include spriteIcon('../../../assets/images/common/sprite_icon.png',-320px, -246px);
		}
		.vipIco3 {
			@include spriteIcon('../../../assets/images/common/sprite_icon.png',-320px, -346px);
		}
		.vipIco4 {
			@include spriteIcon('../../../assets/images/common/sprite_icon.png',-320px, -396px);
		}
	}
}
