.bg {
	background-image: url(./img/bg.png);
	background-repeat: no-repeat;
	background-size: 750px 451px;
	width: 100%;
	height: 451px;
}
.logo {
	margin: 20px;
	width: 272px;
	height: 59px;
}
.top_title {
	color: #121c32;
	font-size: 76px;
	text-align: center;
	font-family: 'PingFangSC-Semibold';
	font-weight: 600;
}
.sub_title {
	text-align: center;
	font-size: 62px;
	font-family: 'PingFangSC-Medium';
	font-weight: 500;
	color: rgba(18, 28, 50, 1);
	line-height: 87px;
}
.joinBtn {
	margin-top: 80px;
	background-color: #ffe105;
	height: 100px;
	line-height: 100px;
	width: 634px;
	color: #121c32;
}
.boxs {
	padding: 80px 160px 10px;
}
.item {
	padding-left: 150px;
	margin-bottom: 50px;
	position: relative;
	.icon {
		width: 98px;
		height: 98px;
		left: 0;
		top: -5px;
		background-size: 98px 98px;
		background-repeat: no-repeat;
		display: inline-block;
		position: absolute;
	}
	.item1 {
		background-image: url(./img/3.png);
	}
	.item2 {
		background-image: url(./img/2.png);
	}
	.item3 {
		background-image: url(./img/1.png);
	}

	.title {
		font-size: 30px;
		display: inline-block;
		font-family: 'PingFangSC-Semibold';
		font-weight: 600;
		color: rgba(18, 28, 50, 1);
		line-height: 42px;
		position: relative;
		i {
			width: 102px;
			height: 32px;
			display: inline-block;
			left: 0;
			top: -20px;
			background-size: 102px 32px;
			background-repeat: no-repeat;
			position: relative;
			background-image: url(./img/xszq.png);
		}
	}
	.subtitle {
		color: #868e9e;
		font-family: 'PingFangSC-Regular';
		font-weight: 300;
		span {
			color: #ff7373;
			font-size: 26px;
			font-weight: normal;
		}
		.midLine {
			color: #868e9e;
			font-size: 20px;
			text-decoration: line-through;
		}
	}
}
