
.modal_content {
  position: relative;
  padding-bottom: 0.3rem;
  .modal_cancel_btn {
    position: absolute;
    top: 50%;
    right: 0.28rem;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-image: url('assets/images/home/close_ico@2x.png');
    background-size: 100%;
  }
  .modal_title {
    position: relative;
    margin: 0;
    padding: 0.33rem 0;
    font-size: 0.36rem;
    // font-weight: bold;
    background: #151515;
    color: #f6e1a9;
    /* @include setBottomLine(); */
  }
  .modal_list {
    // border-top: 1PX  solid #e5e5e5;
    // border-bottom: 1PX  solid #e5e5e5;
    .list_item {
      display: block;
      padding-top: 0.31rem;
      padding-bottom: 0.31rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      // padding-right: 0.3rem;
    }
    .list_item:last-child{
      padding-bottom: 0;
    }
    .list_item + .list_item {
      border-top: 1PX  solid #e5e5e5;
    }
    .list_item + .list_item_special{
      border-top: none;
      padding-top: 10px;
    }
    .item_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .item_info_special {
      text-align: left;
      .item_name {
        margin-right: .2rem;
      }
      button {
        margin-right: .1rem;
        margin-bottom: .15rem;
      }
    }
    .item_name {
      color: #333;
      font-size: 0.3rem;
      line-height: 1;
    }
    .item_value {
      font-size: 0.34rem;
      // font-weight: bold;
      color: #484747;
      line-height: 1;
    }
    .item_value_bank {
      font-size: .34rem;
      .icon {
        margin-left: .26rem;
        width: .16rem;
        height: .28rem;
        vertical-align: middle;
      }
    }
    .item_tip {
      text-align: left;
      margin-top: 0.15rem;
      font-size: 0.24rem;
      color: #f66;
      line-height: 1.2;
    }
  }
  .modal_btn {
    margin-top: 0.6rem;
    width: 5.2rem;
  }
  .silderBox{
    position: relative;
    width: 340px;
    height: 100px;
    :global {
      .am-slider-wrapper{
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 1;
        // margin-top: 50px;
      }
      .am-slider-step{
        height: 50px;
        margin-top: -20px;
      }
    }
  }
  .minMax,.currentAmt{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .currentAmt{
    top: -10px;
    font-size: 42px;
    font-weight: 500;
    color: rgba(72, 71, 71, 1);
    .moneyUnit{
      font-weight: normal;
      font-size: 33px;
    }
  }
  .minMax{
    bottom: -10px;
    font-size: 19px;
    color: rgba(157, 157, 157, 1);
  }
  .billTips{
    font-size: 22px;
    color: rgba(157, 157, 157, 1);
    margin-top: 18px;
    text-align: left;
  }
  .tagList{
    margin-top: 18px;
    button{
      margin-right: 20px;
      margin-bottom: 18px;
    }
    button:last-child{
      margin-right: 0;
    }
  }
  .list_item_special{
    .tagList{
      width: 4.5rem;
      text-align: right;
    }
    .billTips{
      margin-top: 0;
    }
  }
  @media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2){/* 兼容iphone4/4s */
    .modal_list{
      max-height: 7rem;
      overflow-y: auto;
    }
  }
}
