@import '../../../assets/styles/scss/base/fn';

.loading_box {
	background-color: #fff;
	text-align: center;
	padding: 50px 0 30px;
	height: 372px;
	box-sizing: border-box;
	overflow: hidden;
}

.desc {
	color: #121c32;
	font-size: 36px;
	line-height: 1;
	margin-top: 30px;
	span {
		color: #f66;
	}
}

.sub_desc {
	font-size: 30px;
	color: #868e9e;
	margin-top: 30px;
}

.icon {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.success_icon {
	position: relative;
	width: 150px;
	height: 150px;
	line-height: 150px;
	background-color: #f6fafc;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;

	img {
		width: 100%;
	}

	&::after {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		display: inline-block;
		height: 55px;
		animation: del_line 1.2s linear forwards;
		background: #f6fafc;
		z-index: 2;
	}
}

.timeout_icon {
	width: 150px;
	height: 150px;
	line-height: 150px;
	background-color: #f6fafc;
	border-radius: 50%;
}

.list_wrap {
	margin: 100px 40px 0;
	padding: 30px;
	box-shadow: 0px 0px 41px 0px rgba(226, 229, 247, 0.77);
	border-radius: 6px;
	.list_item {
		display: flex;
		justify-content: space-between;
		font-size: 30px;
		color: #121c32;
		.value {
			font-weight: 500;
		}
	}
	.list_item + .list_item {
		margin-top: 40px;
	}
	p {
		color: #f66;
		text-align: left;
		font-size: 30px;
	}
}

.button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 260px;
	width: 670px;
	font-weight: 500;
}

.discount_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 690px;
	height: 100px;
	margin: 40px auto 0;
	padding: 0 30px;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 28px;
	box-shadow: 0px 0px 40px 0px #e2e5f7;
	color: $colorBlack;

	em {
		font-family: $fontFamilyNumber;
	}
}

.discount {
	color: $colorTipRed;
}

@keyframes del_line {
	0% {
		width: 120px;
	}
	100% {
		width: 0;
	}
}

@keyframes rotateInfinte {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotateInfinte1 {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.circle_icon {
	width: 150px;
	height: 150px;
	background-color: #fff;
	animation: rotateInfinte 1.5s linear 0.2s infinite;
}
.reward_loading {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	line-height: 180px;
	text-align: center;
	margin-top: 60px;
	color: #2a71f5;
	font-size: 40px;
	font-weight: 500;
}

.reward_loading_icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	animation: rotateInfinte1 2s linear 0.2s infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
