// 现金
.home_xj_black {
	// -webkit-animation-name: fadeIn;
	// -webkit-animation-duration: .1s;
	// -webkit-animation-iteration-count: 1;
	// -webkit-animation-delay: 0s;
	margin: 30px 40px 0;
	min-width: 670px;
	box-sizing: border-box;
	min-height: 235px;
	padding: 30px 38px 0;
	display: inline-block;
	background-color: #1c1922;
	border-radius: 16px;
	background-size: 670px 235px;
	background-repeat: no-repeat;
	background-image: url(./img/fqbg.png);
	.title {
		position: relative;
		font-size: 40px;
		font-family: 'PingFangSC-Semibold';
		font-weight: 600;
		line-height: 1.4;
		color: rgba(238, 194, 143, 1);
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
		.key {
			width: 23px;
			right: 0;
			top: 10px;
			bottom: 0;
			display: inline-block;
			position: absolute;
			height: 31px;
			background-size: 23px 31px;
			background-repeat: no-repeat;
			background-image: url(./img/key.png);
		}
		.opened {
			width: 23px;
			right: 0;
			top: 10px;
			bottom: 0;
			display: inline-block;
			position: absolute;
			height: 31px;
			background-size: 23px 31px;
			background-repeat: no-repeat;
			background-image: url(./img/opened.png);
		}
	}
	.subtitle_90 {
		font-size: 80px;
		line-height: 1.4;
		font-family: 'DINMitAlt';
		color: rgba(238, 194, 143, 1);
		span {
			font-family: 'PingFangSC-Regular';
			font-size: 30px;
		}
	}
	.subtitle {
		font-size: 34px;
		line-height: 1.4;
		font-family: 'PingFangSC-Semibold';
		color: rgba(238, 194, 143, 1);
		opacity: 0.6;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
	}
	.desc {
		margin-top: 48px;
		display: flex;
		justify-content: space-between;
		font-size: 22px;
		font-family: 'PingFangSC-Regular';
		font-weight: 400;
		color: rgba(238, 194, 143, 1);
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
		.item_l {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 4.7rem;
			min-width: 4rem;
			float: left;
			text-align: left;
			i {
				width: 23px;
				height: 31px;
				position: relative;
				display: inline-block;
				left: 16px;
				top: 5px;
				background-size: 23px 31px;
				background-repeat: no-repeat;
				background-image: url(./img/locked.png);
			}
		}
		.item_r {
			float: left;
			text-align: right;
			i {
				width: 8px;
				height: 11px;
				position: relative;
				display: inline-block;
				left: 6px;
				top: -3px;
				background-size: 8px 11px;
				background-repeat: no-repeat;
				background-image: url(./img/arrow.png);
			}
		}
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
