.bank_content_wrap {
  position: relative;
  .abnormal_tip {
    font-size: .26rem;
    color: #F66;
    width: 6.8rem;
    margin: .16rem auto 0;
  }
  .info_button {
    margin-top: 1.1rem;
    width: 6.2rem;
  }
  .link_tip {
    display: block;
    width: 100%;
    margin-top: 0.7rem;
    text-align: center;
    color: #4da6ff;
    font-size: 0.3rem;
    border: 0;
    background-color: transparent;
  }
  .link_arrow_img {
    width: 0.13rem;
    height: 0.22rem;
    // vertical-align: middle;
    margin-left: .1rem;
    line-height: 100%;
  }
  .progress_box{
    position: absolute;
    top: 3.95rem;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgba(138, 138, 138, 1);
    span{
      color: #FE0000;
    }
  }
}
