.new_users_page {
	img {
		vertical-align: top;
	}
	.activityBg {
		width: 100%;
	}
	.contentContainer {
		overflow: hidden;
	}
	.contentBox {
		position: absolute;
		overflow: hidden;
		top: 0; // 340px
		height: 1405px;
		width: 100%;
		&::after {
			content: '';
			position: absolute;
			top: 360px;
			left: -35%;
			width: 170%;
			height: 1065px;
			background: linear-gradient(153deg, rgba(255, 161, 158, 1) 0%, rgba(246, 76, 70, 1) 100%);
			border-radius: 80% 80% 0 0;
		}
	}
	.wallet {
		position: absolute;
		top: 100px;
		left: 0;
		width: 750px;
		overflow: hidden;
		.img1 {
			position: absolute;
			width: 650px;
			left: 50px;
			bottom: 0;
			z-index: 3;
		}
		.img2 {
			position: absolute;
			width: 610px;
			left: 50%;
			top: 240px;
			margin-left: -305px;
			z-index: 2;
		}
		.slideImg {
			animation: slide 1s forwards;
		}
		.img3 {
			position: relative;
			z-index: 1;
			width: 750px;
			left: 0;
			// top: 20px;
		}
	}
	.shadowImg {
		position: absolute;
		top: 661px;
		left: 0;
		width: 750px;
		z-index: 1;
	}
	.submitBtn {
		position: absolute;
		top: 704px;
		left: 33px;
		width: 684px;
		height: 134px;
		margin: 0 auto;
		// .btn {
		// 	position: absolute;
		// 	width: 600px;
		// 	background-repeat: no-repeat;
		// }
		// .btn1 {
		// 	z-index: 2;
		// 	animation: shake 1.2s infinite;
		// }
		// .btn2 {
		// 	top: 14px;
		// 	z-index: 0;
		// }
	}
	.awardListCont {
		position: absolute;
		top: 881px;
		left: 50%;
		width: 650px;
		height: 45px;
		line-height: 45px;
		margin-left: -325px;
	}
	.awardList {
		background: rgba(255, 255, 255, 0.3);
		border-radius: 23px;
		font-size: 21px;
	}
	.rulesCont {
		position: absolute;
		top: 966px;
		left: 60px;
		width: 630px;
		text-align: center;
	}
	.rulesBg {
		width: 384px;
	}
	.rulesContent {
    padding: 50px 37px 30px;
		background: rgba(255, 255, 255, 0.09);
    border-radius: 21px;
    font-size:26px;
    color: #fff;
    line-height:37px;
    p{
      text-align: left;
      margin-bottom: 16px;
    }
    p:last-child {
      margin-bottom: 0;
    }
	}
}

@keyframes slide {
	0% {
		top: 240px;
	}
	100% {
		top: 0px;
	}
}
