.order_repay_page {
	margin: 30px 30px 180px;

	.extra_icon {
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		background: url('../../../assets/images/home/tip_ico.png') no-repeat;
		background-size: cover;
		width: 24px;
		height: 24px;
	}

	.fixed_button {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 100;
		box-shadow: 0px 1px 0px 0px rgba(240, 241, 245, 1);

		.money_show {
			font-size: 36px;
			color: #868e9e;
			font-weight: 500;

			em {
				color: #fe6666;
			}
		}

		.sxf_btn {
			width: 320px;
			height: 100px;
			font-size: 36px;
			color: #121c32;
			border-radius: 50px;
			margin: 20px 0 40px;
		}
	}
}
.modal_title {
	color: #121c32;
	font-size: 34px;
	margin-bottom: 10px;
	&::before {
		content: '';
		display: inline-block;
		background: url('../../../assets/images/order/mark_icon.png') no-repeat;
		background-size: cover;
		width: 34px;
		height: 34px;
		vertical-align: middle;
		margin-right: 10px;
		margin-top: -5px;
	}
}

.modal_desc {
	color: #868e9e;
	font-size: 30px;

	em {
		font-weight: 500;
		color: #fe6666;
	}
}
:global {
	.order_repay_page {
		.am-modal-transparent {
			width: 580px;
		}
		.am-modal-button {
			color: #121c32;
			font-size: 34px;
		}
		.am-modal-transparent .am-modal-content {
			padding-top: 40px;
			border-radius: 6px;
		}
		.am-modal-transparent .am-modal-content .am-modal-body {
			padding: 0 35px 56px;
			text-align: justify;
		}
	}
}
