.sxp_tag {
  padding: 0.15rem 0.18rem;
  font-size: 0.26rem;
  line-height: 1;
  color: #9d9d9d;
  border: 1px solid #d9d9d9;
  border-radius: 0.1rem;
  background-color: #fff;
  &_active {
    color: #333;
    border: 1px solid #eadd7b;
    background-color: #eadd7b;
  }
}
