@import '../../../assets/styles/scss/base/fn';

.order_detail_page{
    flex: 1;
    padding: 0.24rem 0 0;
    background-color: #f1f1f1;
    .panel_conten {
      padding: 0.3rem;
      .list_item {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;
      }
      .item_name {
        font-size: 0.3rem;
        color: #252729;
        display: flex;
        align-items: center;
      }
      .item_value {
        font-size: 0.3rem;
        color: #333;
        font-weight: bold;
      }
    }
    .mt24{
        margin-top: 24px;
    }
  .order_list {
    :global {
      .am-list-content {
        font-weight: bold;
      }
      .am-list-brief {
        font-weight: normal;
      }
    }
  }
}
.modal_box{
  padding: 30px 30px 60px;
}
.modal_flex{
  display: flex;
  margin-top: 35px;
  position: relative;
  span{
    flex: 1;
  }
  i{
    @include setArrow(right,15px,#A9AEB6,1PX);
    top: 20px;
  }
}

.modal_title{
  font-size: 36px;
  color: #282828;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 55px;
  i{
    width: 34px;
    height: 34px;
    @include bg-image('../../../assets/images/order/close');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    right: 0;
  }
}
.modal_label{
  font-size: 34px;
  color: #333;
  text-align: left;
}
.modal_value{
  text-align: right;
  font-size: 34px;
  color: #333;
  font-weight: 500;
}

.modal_btn{
  margin-top: 72px;
}
.submit_btn{
  margin: 45px 65px;
}
.message{
  font-size: 24px;
  color: #86919D;
  margin-top: 30px;
  .red{
    color: #F44258;
  }
}
.mb50{
  margin-bottom: 50px;
}
