@import '../../../assets/styles/scss/base/fn';

.overdueEntryTip {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	background-color: #f9d45e;
	span {
		color: #f66;
	}
}

.overdueEntry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffdfdf;
	height: 80px;
	padding: 0 30px;
	color: #f66;
	font-size: 30px;
	.overdueItem {
		display: flex;
		align-items: center;
	}
	.warningIco {
		width: 40px;
		height: 40px;
		@include bg-image('../../../assets/images/order/warn_ico');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		margin-right: 19px;
	}
	.entryIco {
		width: 16px;
		height: 28px;
		@include bg-image('../../../assets/images/order/entry_ico');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		margin-left: 19px;
	}
}

.alert_wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	z-index: 111;
	background-color: rgba(0, 0, 0, 0.3);

	.alert_body {
		width: 580px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		text-align: center;
		border-radius: 6px;
	}

	.alert_body_box {
		padding: 80px 35px;
	}

	p {
		color: #868e9e;
		font-size: 30px;
	}

	.button_box {
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			left: 0;
			@include setTopLine(#f0f1f5);
		}
	}

	.button_wrap {
		display: flex;
		position: relative;
		margin: 10px 0;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			@include setRightLine(#f0f1f5);
			height: 100%;
			background-color: #f0f1f5;
		}
	}

	.button {
		width: 50%;
		padding: 15px 0;
		font-size: 34px;
		font-weight: 500;
	}

	.exit {
		color: #868e9e;
	}
}

//================
.top_notice {
	margin-bottom: 40px;
	:global {
		.am-notice-bar {
			height: 80px;
			line-height: 80px;
			background-color: #ffdfdf;
			box-shadow: 0px 1px 0px 0px rgba(240, 241, 245, 1) inset;
		}
		.am-notice-bar-content {
			margin: 0 30px;
		}
	}
}

.antListItem {
	:global {
		.am-list-body {
			&::before {
				height: 0px !important;
			}
		}
		.am-list-item {
			border-bottom: 1px solid #efefef;
			padding-left: 0px;
			.am-list-thumb {
				margin-right: 5px;
			}
			.am-list-line {
				padding-right: 0px;
				&::after {
					height: 0px !important;
				}
				.am-list-content {
					font-size: 28px;
					color: $colorBlack;
					padding: 30px 0;
					.am-list-brief {
						font-size: 24px;
						color: $colorInactiveColor;
						font-weight: normal;
					}
				}
				.am-list-arrow {
					width: 20px;
					height: 20px;
				}
			}
			.am-list-extra {
				padding: 30px 0;
				font-size: 28px;
        color: $colorListText;
        flex-basis: auto;
			}
		}
	}
}

.cardWrap {
	background-color: #fff;
	margin: 0 40px 30px;
	padding: 40px 30px 30px;
	border-radius: 10px;

	.title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 28px;
		font-size: 30px;
		font-weight: 500;
    color: #121c32;

    .billTotalAmt {
      font-family: $fontFamilyNumber;
    }
	}
}

.cardWrap1 {
	padding-top: 0px;
}

.feeDetail {
	background: $colorBgText;
	margin: 40px auto 0;
	padding: 32px 40px 20px;
}

.detailItem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.detailItemTotal {
	position: relative;
	margin-bottom: 0px;
	padding-top: 20px;
	&::after {
		@include setTopLine($colorLoadingBarBg);
	}
}

.detailLabel {
	font-size: 26px;
	color: $colorInactiveColor;
}

.detailValue {
  display: flex;
	align-items: center;
	font-size: 26px;
	color: $colorInactiveColor;
	font-weight: 500;
	font-family: $fontFamilyNumber;
}

.red_box {
  display: flex;
	align-items: center;
	border: 1px solid $colorTipRed;
	background-color: #f6e8ea;
	padding: 0 8px;
	box-sizing: border-box;
	color: $colorTipRed;
  font-size: 22px;
  height: 40px;
}

// 优惠劵金额展示
.couNumBox {
	display: flex;
	height: 40px;
	background: linear-gradient(90deg, rgba(254, 115, 23, 1) 0%, rgba(255, 61, 20, 1) 100%);
	border-radius: 3px;
	padding: 0 10px;
	align-items: center;
	font-size: 22px;
	color: #fff;
	i {
		display: block;
		width: 20px;
		height: 22px;
		background: url('../../../assets/images/home/coupon_ico_img.png') no-repeat center;
		background-size: 100%;
		margin-right: 10px;
	}
}

.modal_weixin {
	font-size: 28px;
	color: $colorBlack;
	margin-top: 30px;
	.flex_div {
		display: flex;
		margin-top: 30px;
		.jian {
			position: absolute;
			right: -10px;
			top: -20px;
		}
		.item {
			position: relative;
			width: 220px;
			margin-right: 20px;
			padding: 20px 30px;
			box-sizing: border-box;
			border-radius: 8px;
			color: $colorListText;
			font-size: 22px;
			border: 1px solid $colorDivide;
			box-shadow: 0px 4px 32px 0px rgba(134, 142, 158, 0.1);
			&.active {
				border: 1px solid $colorYellow;
			}
			img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 40px;
				height: 40px;
			}
		}
	}
}

.submit_btn {
	margin: 60px auto;
	width: 670px;
	display: block;
}
