@import '../../../assets/styles/scss/base/fn';

.credit_list_page {
	padding: 54px 40px;
	padding-bottom: 160px;
	.top_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
	.card_tit {
		font-size: 46px;
		font-family: 'PingFangSC-Semibold';
		font-weight: 600;
		color: #121c32;
	}
	.selectedIco {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}
	.addCard {
		display: flex;
		justify-content: start;
		align-items: center;
		span {
			color: $colorGolden;
			font-size: 30px;
			position: relative;
			line-height: 2.4;
			border-radius: 40px;
		}
		i {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background-image: url(./img/plus.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
	.newCardBoxContainer {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid transparent;
		padding: 35px 30px;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		&.selectedLine {
			border-color: $colorYellow;
		}
	}
	.bank_icon {
		width: 80px;
		height: 80px;
		top: 0;
		margin-right: 16px;
		z-index: 1;
	}
	.bankLogo {
		width: 80px;
		height: 80px;
		margin-top: 0;
	}
	.isDisable {
		opacity: 0.6;
	}
	.newCardBox {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}
	.lefttexttopnum {
		font-family: $fontFamilyNumber;
	}
	.newCardRightBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.leftTextBottom {
		// letter-spacing: 1px;
		margin-top: 8px;
		color: $colorInactiveColor;
		font-size: 24px;
	}
	.popBoxTip {
		background-color: red;
		height: 300px;
		width: 800px;
	}
	.popBox {
		height: 100%;
		padding: 0 15px;
		margin-right: -15px;
		display: flex;
		align-items: center;
	}
	.RightIcon {
		width: 28px;
		height: 28px;
		margin-left: 6px;
	}
	.newCardLeftBox {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.leftTextBox {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	.leftTextTop {
		color: $colorListText;
		font-size: 30px;
		font-weight: bold;
	}
	.handle_authority {
		position: fixed;
		z-index: 99;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 20px 40px;
		box-sizing: border-box;
	}
	.button {
		width: 100%;
	}
}
