@import '../../../assets/styles/scss/base/fn';
.wallet_page{
	position: relative;
	font-weight: 400;
	color: #4D4D4D;
	.walletBg{
		width: 100%;
	}
	.walletTitle{
		position: absolute;
		top: 25px;
		padding: 0 30px;
		width: 100%;
		box-sizing: border-box;
		font-size: 30px;
		display: flex;
		justify-content: space-between;
		height: 50px;
		line-height: 50px;
		.leftPart{
			display: flex;
			align-items: center;
			i{
				display: inline-block;
				width: 4px;
				height: 32px;
				background: #4D4D4D;
				margin-right: 13px;
			}
		}
		.rightPart{
			width: 147px;
			box-sizing: border-box;
			height: 50px;
			border: 1PX solid #4D4D4D;
			text-align: center;
			border-radius: 50px;
		}
	}
	.walletCont{
		position: absolute;
		top: 170px;
		width: 100%;
		text-align: center;
		.money{
			font-size: 46px;
			margin-bottom: 40px;
			color: #333;
			span{
				font-size: 100px;
				margin-right: 16px;
			}
		}
		.tips{
			font-size: 30px;
		}
	}
	.withdrawBtn{
		width: 652px;
		margin: 140px auto 282px;
		height: 102px;
		line-height: 102px;
		color: #4D4D4D;
	}
	.entryBox{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.income,.withdraw{
		display: flex;
		align-items: center;
		font-size: 36px;
		font-weight: 400;
		color: rgba(37, 39, 41, 1);
		.rightArrow{
			width: 12px;
			margin-left: 15px;
		}
	}
	.divideLine{
		display: inline-block;
		width: 4px;
		height: 34px;
		background: #252729;
		margin: 0 50px;
	}
}
.modal_title{
	position: relative;
	font-size: 36px;
	font-weight: 600;
	color: rgba(80, 80, 80, 1);
	margin: 30px 50px 70px 50px;
	i{
	  width: 34px;
	  height: 34px;
	  @include bg-image('../../../assets/images/order/close');
	  background-repeat: no-repeat;
	  -webkit-background-size: 100% 100%;
	  background-size: 100% 100%;
	  position: absolute;
	  top: 10px;
	  right: 0;
	}
}
.modal_box{
	padding-bottom: 55px;
	.bank_info{
		display: flex;
		align-items: center;
		height: 60px;
		:global {
			.bank_ico{
			  top: 0;
			}
		}
		.bank_name{
			color: rgba(40, 40, 40, 1);
			margin-left: 20px;
		}
	}
}
.modal_flex{
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 0 35px 47px 35px;
	margin: 41px 15px 0 15px;
	font-size: 36px;
	color: rgba(80, 80, 80, 1);
	i{
	  @include setArrow(right,15px,#A9AEB6,1PX);
	  top: 22px;
	}
}
.with_border{
	border-bottom: 1PX solid #DDD;
}
.modal_btn{
	width: 672px;
	height: 102px;
	line-height: 102px;
	margin-top: 30px;
}
:global {
	.am-modal-content{
		text-align: left;
	}
}