.title {
	font-size: 36px;
	font-family: 'PingFangSC-Medium';
	font-weight: 500;
	color: #121c32;
}
.desc {
	font-size: 32px;
	font-family: 'PingFangSC-Medium';
	font-weight: 500;
  color: #414a53;
  padding: 50px 10px;
}
.btn{
  width: 100%;
}
