@import '../../../assets/styles/scss/base/fn.scss';
.credit_apply_succ_page{
  text-align: center;
	.content{
		padding: 60px 30px 0;
		.success_ico {
			@include spriteIcon(0, -88px);
      display: inline-block;
      width: 128px;
      height: 128px;
		}
    .desc {
      font-size: 30px;
      color: #333;
      font-weight: 400;
    }
    .tip {
      font-size: 28px;
      color: #86919D;
      margin-top: 180px;
	    text-align: left;
    }
    .link {
      color: #4CA6FF;
    }
  }
	.backBtn{
		width: 620px;
		margin: 378px auto 0;
		height: 90px;
		line-height: 90px;
	}
}