.sxp_tag {
	padding: 0.1rem 0.18rem;
	font-size: 0.26rem;
	line-height: 1;
	// height: 0.5rem;
	color: #868E9E;
	border: 1PX solid #C9CDD5;
	border-radius: 0.4rem;
	background-color: #fff;
	margin-right: 20px;
	&_active {
		color: #fe6666;
		border: 1PX solid #fe6666;
		background-color: #fff;
	}
}
.sxp_tag:last-child{
	margin-right: 0;
}
.specail_tag_active {
	position: relative;
	padding: 0.1rem 0.15rem;
	i{
	  position: absolute;
	  right: -30px;
	  top: -24px;
	  width: 34px;
    height: 28px;
    z-index: 100;
	  background-image: url('./img/jian.png');
	  background-size: 100% 100%;
	}
}
// .specail_tag_active.sxp_tag_active {
// 	margin-right: 0;
// }
.borderDotted {
	border: 1PX dashed #999;
}
.disabledBtn{
	color: #C9CDD5;
}
