.sxp_tag {
	padding: 0.1rem 0.18rem;
	font-size: 0.26rem;
	line-height: 1;
	// height: 0.5rem;
	color: #868e9e;
	border: 1px solid #c9cdd5;
	border-radius: 0.4rem;
	background-color: #fff;
	margin-right: 20px;
	&_active {
		color: #397be6;
		border: 1px solid #397be6;
		background-color: #fff;
	}
}
.sxp_tag:last-child {
	margin-right: 0;
}
.specail_tag_active {
	position: relative;
	padding: 0.1rem 0.15rem;
	i {
		position: absolute;
		right: -30px;
		top: -24px;
		width: 34px;
		height: 28px;
		z-index: 100;
		background-image: url('./img/jian.png');
		background-size: 100% 100%;
	}
}
// .specail_tag_active.sxp_tag_active {
// 	margin-right: 0;
// }
.borderDotted {
	border: 1px dashed #999;
}
.disabledBtn {
	color: #c9cdd5;
}
