.rule {
	margin: 0 auto;
	text-align: center;
	.title {
		font-size: 30px;
		color: #f01c3d;
		background-color: #fff100;
		text-align: center;
		padding: 10px 30px;
		border-radius: 30px;
		font-weight: 600;
		display: inline-block;
	}
	.content {
		margin-top: 40px;
		color: #fff;
		text-indent: 2px;
		font-size: 26px;
		text-align: left;
	}
}
