@import '../../../assets/styles/scss/base/fn';

.order_page {
  .order_list {
    :global {
      .am-list-item {
        min-height: 140px;
      }
    }
  }
  .no_data {
    position: relative;
    height: 100%;
    width: 100%;
    color: #999;
    margin-top: 500px;
    font-size: 36px;
    // height: 400px;
    text-align: center;
    i {
      width: 168px;
      display: inline-block;
      height: 131px;
      position: absolute;
      top: -160px;
      vertical-align: middle;
      @include bg-image('../../../assets/images/order/no_bill');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      //  background: black;
      box-sizing: border-box;
    }
  }
    :global {
      .am-list-item {
        min-height: 100px;
        padding-left: 34px;
      }
      .am-list-item .am-list-line {
        padding-right: 34px;
      }
      .am-list-item .am-list-line .am-list-content {
        font-size: 30px;
        color: #333;
      }
      .am-list-item img {
        width: 42px;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
      .am-list-extra span {
        font-size: 30px;
        display: block;
      }
      .am-list-item .am-list-line .am-list-arrow {
        width: 16px;
        height: 28px;
        margin-left: 18px;
      }
      .am-list-body {
        border: none;
      }
      .am-list-body div:not(:last-child) .am-list-line {
        border-color: #e5e5e5;
      }
      .am-list-item .am-list-thumb:first-child {
        margin-right: 0;
      }
      .am-list-item .am-list-line .am-list-brief {
        font-size: 28px;
        color: rgba(157, 157, 157, 1);
        margin-top: 8px;
      }
    }
    .hasIcon {
      :global {
        .am-list-line {
          padding-left: 68px;
        }
      }
    }
    .item_desc{
      background-color: #F5F5F5;
      padding-left: 34px;
      padding-right: 34px;
    }
  :global {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line::after {
        background-color: #e5e5e5;
      }
      html:not([data-scale]) .am-list-body::after,
      html:not([data-scale]) .am-list-body::before {
        background-color: transparent;
      }
    }
  }
}
