@import '../../../assets/styles/scss/base/fn';

:global {
	.application_footerbar ~ .application_content {
		.heightBody1 {
			min-height: calc(100vh - 1rem);
		}
	}
	.application_navbar ~ .application_content {
		.heightBody1 {
			min-height: calc(100vh - 1.86rem);
		}
	}
}
.orderPage {
	width: 670px;
  margin: 0 auto;
  padding-top: 10px;
}
.orderPageHeadTitle {
	font-size: 46px;
	color: $colorBlack;
	font-weight: bold;
	margin-right: 20px;
}
.orderPageHeadDesc {
	font-size: 24px;
	color: $colorBlack;
}
.orderListCard {
	border-radius: 10px;
	margin-top: 20px;
  margin-bottom: 30px;
  background-color: #fff;
}
.groupTitleWrap {
	padding-left: 45px;
	box-sizing: border-box;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid $colorDivide;
	border-radius: 10px 10px 0 0;
	// background-color: #fff;
}
.groupTitle {
	font-size: 30px;
	color: $colorInactiveColor;
	font-family: $fontFamilyNumber;
}
.listItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	// border-radius: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid $colorDivide;
	// background-color: #fff;
}
.listBottomText {
	height: 76px;
	line-height: 76px;
	color: $colorListText;
	text-align: center;
	font-size: 24px;
	border-radius: 0 0 10px 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.itemLabel {
	font-size: 28px;
	color: $colorBlack;
	font-weight: bold;

	em {
		font-family: $fontFamilyNumber;
	}
}
.itemDesc {
	font-size: 24px;
	color: $colorSubTitle;
	em {
		font-family: $fontFamilyNumber;
		margin-right: 25px;
	}
}
.listItemRight {
	font-weight: bold;
  font-size: 24px;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}
.trigon_right_black {
	width: 11px;
	height: 13px;
	display: inline-block;
	margin-left: 16px;
	margin-bottom: 1px;
}
