.credit_extension_page {
  margin-top: 24px;
  .commit_btn,.not_commit_btn {
    width: 620px;
    margin-top: 114px;
  }
  .not_commit_btn{
    background: #e5e5e5;
  }
}
:global {
  .modalInfoBox{
    .am-modal.am-modal-transparent{
      width: 85%;
      .am-modal-content{
        padding-top: 0;
        .am-modal-body{
          padding: 0;
        }
      }
    }
  }
}
