.header {
	color: #121c32;
	font-size: 46px;
	font-family: 'PingFangSC-Semibold';
	font-weight: 600;
}
.container {
	padding: 60px;
}
.support_type {
	display: inline-block;
	margin: 20px 0px;
	font-size: 26px;
	color: #397be6;
}
.confirm_btn {
	width: 620px;
	margin-top: 220px;
	margin-bottom: 10px;
}
.confirm_disable_btn {
	width: 620px;
	margin-top: 220px;
	margin-bottom: 10px;
	background-color: #dcdfe6;
	color: #fff;
}

.xieyi {
	width: 620px;
	margin: 20px auto;
	color: #8e8d7b;
	font-size: 24px;
	font-family: 'PingFangSC-Regular';
	font-weight: 400;
	a {
		color: #121c32;
	}
}
.top20 {
	margin-top: 30px;
}
.btn_box {
	padding: 100px 0px 0px;
}
.tipText {
	color: $colorTipRed;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

:global {
	.bind_credit_page_listBox {
		input::placeholder {
			color: #868e9e;
			font-size: 30px;
			font-family: 'PingFangSC-Medium';
			font-weight: 500;
		}
		margin: 1rem 0rem 0 -0.3rem;
		.am-list-item {
			min-height: 1.2rem;
		}
		.am-list-item .am-list-line .am-list-content {
			color: #394259;
			font-family: 'PingFangSC-Regular';
			font-weight: 400;
			font-size: 30px;
		}
		.am-list-item .am-input-label {
			color: #394259;
			font-family: 'PingFangSC-Regular';
			font-weight: 400;
			font-size: 30px;
		}
		.am-list-item .am-input-control input {
			text-align: right;
		}
		.am-list-item .am-list-line .am-list-extra {
			color: #121c32;
			font-size: 30px;
			font-family: 'PingFangSC-Medium';
			font-weight: 500;
		}
		.am-list-item .am-list-line {
			padding-right: 0;
		}
		.am-list-item .am-input-control input {
			color: #121c32;
			font-family: 'PingFangSC-Semibold';
			font-weight: 600;
			font-size: 0.3rem;
		}
		.sms .am-list-item .am-input-control input {
			padding-right: 228px;
		}
	}
}
