.bind_credit_page {
  margin-top: 41px;
  .tips {
    font-size: 28px;
    color: rgba(157, 157, 157, 1);
    padding-left: 32px;
    margin-top: 20px;
    margin-bottom: 162px;
  }
  .confirm_btn {
    width: 620px;
  }
  .support_type {
    position: fixed;
    left: 0;
    bottom: 64px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgba(77, 166, 255, 1);
  }
}
