@import '../../../assets/styles/scss/base/fn.scss';
.mine_page {
	overflow-y: auto;
	.textTitle {
		color: #121c32;
		font-size: 34px;
		font-family: 'PingFangSC';
		padding: 30px 40px;
		font-weight: 600;
	}
	.mine_list {
		:global {
			.am-list-item {
				min-height: 110px;
				padding: 0 40px;
			}
			.am-list-body {
				border-radius: 4px;
			}
			.am-list-item .am-list-line {
				padding-right: 0;
				font-weight: 500;
			}
			.am-list-item .am-list-line .am-list-content {
				font-size: 30px;
			}
			.am-list-extra span {
				font-size: 30px;
			}
			.am-list-item .am-list-line .am-list-arrow {
				width: 11px;
				height: 20px;
				background-image: url('../../../assets/images/mine/arrow_ico.png');
			}
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
				.am-list-body::after,
				.am-list-body::before {
					transform: scaleY(0);
				}
			}
		}
	}
}
