@import '../../../assets/styles/scss/base/fn.scss';
.fenqi_page {
	/* stylelint-disable */
	::-webkit-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	:-ms-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	::-ms-input-placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	::placeholder {
		color: #b2b6bf;
		font-size: 56px;
	}
	.scrollWrap {
		padding-bottom: 160px;
	}

	.billInpBox {
		position: relative;
		padding: 57px 40px 0;
		box-sizing: border-box;
		.moneyUnit {
			position: absolute;
			font-size: 40px;
			color: #394259;
			left: 40px;
			top: 70px;
			z-index: 10;
		}
		&::after {
			@include setBottomLine(#333);
			left: 40px;
			right: 40px;
			bottom: 0;
		}
	}
	.billInpBoxTip {
		margin: 0 40px;
		font-size: 24px;
		color: $colorInactiveColor;
		margin-top: 20px;
	}
	.billInput {
		background-color: transparent;
		input {
			font-size: 80px;
			font-family: 'DINMitAlt';
			color: #394259;
		}
	}
	.pannel {
		overflow: hidden;
		margin: 20px 30px;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #f0f1f5;
		padding: 0 30px;
		.listItem {
			position: relative;
			display: flex;
			min-height: 110px;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			font-size: 30px;
			color: $colorBlack;
			flex-wrap: wrap;
			padding: 20px 0;
			.labelBox {
				position: relative;
			}
			.labelSub {
				position: absolute;
				top: 45px;
				left: 0;
				width: 450px;
				font-size: 20px;
				color: #f76c5c;
			}
		}
		.listItem + .listItem {
			&::after {
				@include setTopLine(#f0f1f5);
				left: 0;
			}
		}

		.hasArrow {
			padding-right: 24px;
		}
		.listValue {
			font-weight: normal;
			font-size: 28px;
			font-family: 'DINMitAlt';
			margin-top: 3px;
		}

		.icon {
			position: absolute;
			width: 40px;
			height: 50px;
			color: #121c32;
			right: -12px;
			top: 50%;
			margin-top: -27px;
		}
	}
	.pannel + .pannel {
		margin-top: 30px;
	}

	.protocolLink {
    margin: 24px 0;
	}

	.greyText {
		color: $colorInactiveColor;
	}

	.addIcon {
		font-size: 35px;
		color: #333;
		margin-left: 10px;
	}

	.tagListWrap {
		margin-top: 20px;
		width: 100%;
	}

	.tagButton {
		min-width: 150px;
	}
	.tagButton + .tagButton {
		margin-left: 30px;
	}

	.buttonWrap {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
    background-color: #fff;
		padding: 16px 40px 0 40px;
    text-align: center;
  }
  .bottomTip {
    font-size: 22px;
    color: #F76C5C;
  }
	// 优惠劵金额展示
	.couponListValue {
		.icon {
			margin-bottom: 0;
		}
	}

	.repayPlan {
		font-size: 30px;
		color: #b2b6bf;
	}
	.couponBtn {
		background: linear-gradient(90deg, rgba(254, 115, 23, 1) 0%, rgba(255, 61, 20, 1) 100%);
		color: #fff;
	}
	.couNumBox {
		display: flex;
		height: 42px;
		background: linear-gradient(90deg, rgba(254, 115, 23, 1) 0%, rgba(255, 61, 20, 1) 100%);
		border-radius: 3px;
		padding: 0 10px;
		align-items: center;
		font-size: 22px;
		color: #fff;
		font-weight: normal;
		font-family: 'PingFangSC-Regular';
		i {
			display: block;
			width: 20px;
			height: 22px;
			background: url('../../../assets/images/home/coupon_ico_img.png') no-repeat center;
			background-size: 100%;
			margin-right: 10px;
		}
	}
}

:global {
	.loan_fenqi_page {
		.am-list-line {
			padding-right: 0;
		}
	}
	.purpose_modal {
		.am-modal-content {
			border-radius: 10px 10px 0 0;
		}
	}
}

.modalTitle {
	font-size: 36px;
	color: $colorBlack;
	text-align: left;
}

.modalDesc {
	font-size: 24px;
	color: $colorInactiveColor;
	text-align: left;
	margin: 0 0 64px;
}

.modalItem {
	position: relative;
	height: 110px;
	line-height: 110px;
	width: 100%;
	font-size: 32px;
	color: #121c32;
	&::after {
		@include setBottomLine(#f0f1f5);
		left: 0;
	}
}
.modalItemActive {
	color: $colorGolden;
}
.shakeAnimatedText {
	position: absolute;
	right: 0;
	top: 32px;
	animation: shake 0.8s linear;
}

@keyframes shake {
	10%,
	50%,
	90% {
		transform: translateX(15px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(0px);
	}
	30%,
	70% {
		transform: translateX(-15px);
	}
}
