.iframeContainer {
	height: 85vh;
  overflow: scroll;
  margin-top: 50px;
}

.closeIcon {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	z-index: 100;
}

.antModal {
	:global {
		.am-modal-content {
			border-radius: 20px 20px 0 0;
			position: relative;
			box-sizing: border-box;
		}
	}
}
