@import '../../../assets/styles/scss/base/fn';
.message_page {
  :global {
    .am-tabs-default-bar-tab {
      color: #666;
      font-size: 30px;
      height: 100px;
    }
    .am-list-footer {
      padding: 0.18rem 0.3rem 2rem 0.3rem;
      font-size: 0.28rem;
      color: #999;
    }
    .am-tabs-default-bar-tab-active {
      color: #ffc601;
    }
    .am-pull-to-refresh-indicator {
      font-size: 26px;
    }
    .am-tabs-default-bar-underline {
      border: 2px #108ee9 solid;
    }
    .am-list-body {
      background-color: #efeff4;
      &::before {
        background-color: transparent !important;
      }
      &::after {
        background-color: transparent;
      }
    }
    // .am-tabs-content-wrap {
    //   background-color: #efeff4;
    // }
    .am-list-view-scrollview {
      border: none !important;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .am-list-body::after {
      background-color: transparent !important;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    html:not([data-scale]) .am-list-body::after {
      background-color: transparent !important;
    }
  }
  .allRead {
    position: fixed;
    bottom: 90px;
    right: 50px;
    z-index: 10;
    width: 2.1rem;
    height: .68rem;
    background-size: contain;
    background-repeat: no-repeat;
    @include bg-image('../../../assets/images/message/read_all');
  }
  .msgItem {
    padding-top: 40px;
    .time {
      color: #999;
      font-size: 22px;
      margin-bottom: 18px;
      text-align: center;
      span {
        margin-left: 17px;
      }
    }
    .msgContainer {
      padding: 30px 20px 20px;
      background-color: #fff;
      margin: 0 20px;
      .title {
        color: #333;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 32px;
        margin-bottom: 40px;
        overflow: hidden;
        line-height: 40px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        i {
          width: 18px;
          height: 18px;
          background-color: #ff4848;
          margin-right: 12px;
          border-radius: 50%;
          display: inline-block;
        }
      }

      .img {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 0;
        border-radius: 10px;
      }
      .desc {
        font-size: 28px;
        color: #666;
        position: relative;
        margin-bottom: 60px;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-height: 40px;
        height: auto;
        -webkit-box-orient: vertical;
      }
      .handle {
        font-size: 28px;
        color: #666;
        position: relative;
        &::before {
          @include setTopLine();
          top: -20px;
        }
        // &:hover {
        //   opacity: 0.5;
        // }
        &::after {
    @include setArrow(right,15px,#A9AEB6,1PX);
    position: absolute;
        }
      }
    }
  }
  .noMsg {
    position: relative;
    height: 100%;
    width: 100%;
    color: #999;
    margin-top: 500px;
    font-size: 36px;
    // height: 400px;
    text-align: center;
    i {
      width: 168px;
      display: inline-block;
      height: 131px;
      position: absolute;
      top: -160px;
      vertical-align: middle;
      background-image: url(../../../assets/images/message/message_center@2x.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      //  background: black;
      box-sizing: border-box;
    }
  }
}
.displayDot{
    display: none !important;
}