.wuyuekh_page{
  position: relative;
  height: 100%;
  .activity_bg {
    width: 100%;
    position: absolute;
  }
  .new_entry_box,.old_entry_box{
    position: absolute;
    bottom: 308px;
    left: 60px;
    width: 630px;
  }
  .old_entry_box{
    bottom: 48px;
  }
  .entry_bg{
    width: 100%;
  }
  .btn_style{
    position: absolute;
    right: 25px;
    top: 53px;
    width: 134px;
    height: 134px;
  }
}