// .limit_time_join_wrap {
//   position: relative;
//   // background-color: $colorYellow;
//   border-radius: 10px;
//   overflow: hidden;
//   margin-bottom: 30px;
//   height: 216px;
//   width: 706px;
//   .cardWrap {
//     padding: 30px 30px 10px;
//     position: relative;
//   }
//   .card_tip {
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 3px 20px;
//     border-top-right-radius: 10px;
//     border-bottom-left-radius: 10px;
//     background-color: $colorRed;
//     font-size: 24px;
//     color: #fff;
//   }
//   .bg{
//     width: 706px;
//     height: 261px;
//   }
//   .card_tip_pink{
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 0px 10px;
//     border-top-right-radius: 10px;
//     border-bottom-left-radius: 20px;
//     background-color: #E33DFF;
//     font-size: 20px;
//     color: #fff;
//     font-weight: normal;
//     .f18{
//       font-size: 32px;
//       font-weight: 500;
//       padding: 0 2px;
//     }
//     .f36{
//       text-decoration: line-through;
//     }
//   }
//   .card_bg1,
//   .card_bg2 {
//     position: absolute;
//     opacity: 0.15;
//     background: #fff;
//     border-radius: 100%;
//   }
//   .card_bg1 {
//     height: 500px;
//     width: 500px;
//     right: -260px;
//     top: -20px;
//   }
//   .card_bg2 {
//     height: 600px;
//     width: 600px;
//     right: -50px;
//     top: 160px;
//   }
//   .card_loan_text {
//     font-size: 28px;
//     letter-spacing: 1px;
//   }
//   .card_loan_amout {
//     font-size: 110px;
//     line-height: 1;
//     margin-top: 5px;
//     font-family: 'DINMitAlt';
//   }
//   .text {
//     color: $colorBlack;
//     font-size: 24px;
//     left: 38px;
//     font-family: 'PingFangSC-Regular';
//     font-weight: 400;
//     letter-spacing: 2px;
//   }
// }

.box {
  position: relative;
  margin: 0 -20px;
  width: calc(100% + 40px);
  margin-bottom: 20px;
	img {
		width: 100%;
  }
  .text{
    position: absolute;
    bottom: 45px;
    left: 45px;
    line-height: 30px;
    font-size: 24px;
    color: #121B33;
  }
}
