@import '../../../assets/styles/scss/base/fn';

.nameDiv {
  .pageContent {
    padding: 100px 60px 160px;
  }
	.informationMore {
		position: relative;
		width: 20px;
		float: right;
		right: 0;
		// margin-top: -0.5rem;
		margin-top: -0.6rem;
	}
	/* stylelint-disable */
	::-webkit-input-placeholder {
		color: #b2b6bf !important;
		font-size: 28px;
	}
	:-ms-input-placeholder {
		color: #b2b6bf !important;
		font-size: 28px;
	}
	::-ms-input-placeholder {
		color: #b2b6bf !important;
		font-size: 28px;
	}
	::placeholder {
		color: #b2b6bf !important;
		font-size: 28px;
	}

	.clear {
		clear: both;
	}

	.warning_tip {
		position: relative;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: #F6F9FD;
		font-size: 24px;
		color: #394259;
		.warning_tip_title {
      font-weight: bold;
    }
	}

  .sureBtnWrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: #fff;
  }
	.adsImg {
		position: relative;
		width: 670px;
		margin: 25px auto 0;
		img {
			width: 100%;
			vertical-align: top;
		}
		.text {
			position: absolute;
			bottom: 10px;
			color: #fff;
			font-size: 24px;
			left: 38px;
			font-family: 'PingFangSC-Regular';
			font-weight: 400;
			letter-spacing: 2px;
		}
	}
	.operatorCont {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #f7f8fa;
		z-index: 100;
		padding-top: 24px;
	}
	.quitText {
		font-size: 30px;
		color: rgba(65, 74, 83, 1);
		margin: 30px auto 27px;
		text-align: center;
	}
	.nextBtn {
		width: 634px;
		&:active {
			opacity: 0.5;
		}
		&.dis {
			background: #dcdfe6;
			color: #fff;
		}
  }
  .protocolBox {
    margin-top: 40px;
  }
  .activityBox {
    // padding: 80px 40px;
    margin-top: -30px;
    margin-bottom: 40px;
  }
}
:global {
	.info_addinfo {
		.am-list-item {
      height: 110px;
      padding-left: 0;
    }
    .am-list-item .am-list-line {
      padding-right: 0;
    }
		.am-list-item .am-list-line .am-list-extra {
			padding-top: 0.25rem;
			color: #B2B6BF;
			margin-right: 0.35rem;
			font-size: 0.28rem;
    }
    .item_box_has_value {
      .am-list-item .am-list-line .am-list-extra {
        color: $colorBlack;
        flex: 2;
      }
    }
		.am-list-item.am-list-item-active {
			background-color: #fff;
		}

		.am-list-item .am-input-control input {
			text-align: right;
			padding-right: 0.05rem;
			font-size: 0.28rem;
			color: #333;
		}

		.am-list-item .am-list-line .am-list-content,
		.am-list-item .am-input-label {
			color: #394259;
			font-weight: normal;
			// font-family: 'PingFangSC-Semibold';
			font-size: 0.3rem;
		}
		.hasborder.am-list-item.am-list-item-middle .am-list-line {
			// border-bottom: 1PX  solid #e5e5e5;rrr
			&:after {
				@include setBottomLine(#f0f1f5);
			}
		}
		.noBorder.am-list-item.am-list-item-middle .am-list-line {
			// border-bottom: 1PX  solid #e5e5e5;rrr
			&:after {
				@include setBottomLine(transparent);
			}
		}
	}
}

.item_box {
  margin-top: 20px;
}

.step_box_space {
	padding-bottom: 220px;
}


