.count_container {
  width: 170px;
  height: 50px;
  background: #ebde74;
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgba(51, 51, 51, 1);
  padding: 0;
}
:global {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .am-button-primary::before {
      border-color: transparent;
    }
  }
  .am-button-primary{
    border-color: #ebde74;
  }
  .am-button-primary.am-button-active {
    background: #ebde74;
    color: #333;
  }
  a.am-button-primary:hover{
    text-decoration: none;
  }
  .am-button-primary.am-button-disabled{
    color: #fff;
    background: #B9B9B9;
  }
}
