.mpos_download_page {
	// overflow: auto;
	// -webkit-overflow-scrolling: touch;
	// height: 100%;
	padding-top: 65px;
	background: #fff;
	text-align: center;
	.banner {
		width: 340px;
		vertical-align: top;
	}
	.content {
		padding-top: 45px;
		.title {
			font-size: 46px;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #121c32;
			line-height: 65px;
		}
		.moneyText {
			margin-top: 10px;
			font-size: 26px;
			color: #868e9e;
			line-height: 37px;
			span {
				color: #3a7ae5;
				font-weight: 500;
			}
		}
		.download_button {
			margin-top: 170px;
			width: 634px;
			height: 100px;
			line-height: 100px;
			border-radius: 50px;
			color: #121c32;
			font-weight: bold;
		}
		.tipsText {
			margin-top: 16px;
			font-size: 26px;
			color: #868e9e;
			line-height: 37px;
		}
		.descText {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
			font-size: 24px;
			color: #C9CDD5;
			line-height: 80px;
		}
	}
}
