// scss 常用变量 通过 sass-resources-loader 使用

// 基础色调
$baseColor: #4CA6FF;
// 主色-黄
$colorYellow: #ffd210;
// 辅助-灰
$colorGrey: #dcdfe5;
// 辅助-绿
$colorGreen: #56bc44;
// 辅助-红
$colorRed: #eb4747;
// 辅助-蓝
$colorBlue: #3a7ae5;
// 辅助-金
$colorGolden: #b69254;
// 背景
$colorBg: #f0f3f9;
// 背景-文案
$colorBgText: #f7f8fa;
// 分割线
$colorDivide: #f0f1f5;
// 分割线-标签
$colorDivideTag: #e0e2e7;
// 标题-主
$colorBlack: #121b33;
// 说明/副标题
$colorSubTitle: #868f9e;
// 输入提示
$colorInputPlaceholder: #b2b6bf;
// 提示-弱
$colorTipWeak: #cccfd9;
// 提示-红
$colorTipRed: #fe6666;
// 列表
$colorListText: #394259;
// tab 非激活状态
$colorInactiveColor: #868E9E;
// 进度条背景颜色
$colorLoadingBarBg: #C9CDD5;
