.home_page {
  flex: 1;
  .content_wrap {
    margin-top: -0.5rem;
  }
  .smart_button_one {
    margin-top: 0.72rem;
    width: 4.26rem;
  }
  .smart_button_two{
    margin-top: 1.1rem;
    width: 6.2rem;
  }
  .tip_bottom {
    margin-top: 0.77rem;
    margin-bottom: .2rem;
    font-size: 0.3rem;
    text-align: center;
    color: #c7c6cc;
  }
}
