@import "../../assets/styles/scss/base/fn.scss";
.dialog_container {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1199;
}
.weui_dialog {
  position: fixed;
  z-index: 1200;
  width: 650px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  padding: 74px 54px 20px;
}

.weui_dialog_default {
    position: fixed;
    z-index: 1200;
    width: 580px;
    height: 303px;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    background: #fff;

    .btn_container {
        display: flex;
        font-size: 34px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        height: 100px;
        align-items: center;
        color: #121c32;
      }
      .btn_one {
        position: relative;
        flex: 1;
        color: #868e9e;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
        &::after {
          @include setLeftLine(#f0f1f5);
          left: auto;
          height: 80px;
          right: 0;
          top: -10px;
        }
      }
      .btn_two {
        flex: 1;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
}

.content_box {
  position: relative;
  font-size: 30px;
  width: 100%;
  text-align: center;
  line-height: 42px;
  color: #868e9e;
  padding: 80px 0;
  &::after {
    @include setBottomLine(#f0f1f5);
    left: 0;
  }
}

.header_title {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  color: #121c32;
  margin-bottom: 50px;
}

.button_item {
  width: 542px;
  height: 94px;
  line-height: 94px;
  border-radius: 45px;
  border: 1PX solid #C9CDD5;
  margin-bottom: 30px;
}

.arrow_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}
