@import "../../assets/styles/scss/base/fn.scss";
.dialog_container{
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1199;
}
.weui_dialog{
    position: fixed;
    z-index: 1200;
    width: 580px;
    height: 303px;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    background: #fff;
    // background-image: url(../../assets/images/dialog/back_img@2x.png);
    // background-size: 560px 407px;
    // background-repeat: no-repeat;
    .btn_container{
        display: flex;
        // padding: 20px 80px;
        font-size: 34px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        height: 100px;
        align-items: center;
    }
    .btn_one{
        position: relative;
        flex: 1;
        // border: 1PX solid #4DA6FF;
        // color: #4DA6FF;
        // margin-right: 30px;
        // border-radius: 30px;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
        &::after {
            @include setRightLine(#F0F1F5);
            left: 0;
        }
    }
    // .btn_one_new{
    //     color: #ebde74;
    //     border-color: #ebde74;
    // }
    .btn_two{
        flex: 1;
        // color: #fff;
        // background-color: #4DA6FF;
        // border: 1PX solid #4DA6FF;
        // margin-left: 30px;
        // border-radius: 30px;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    // .btn_two_new{
    //     background-color: #ebde74;
    //     border-color: #ebde74;
    // }
}
.content_box{
    position: relative;
    font-size: 30px;
    // position: absolute;
    // top: 220px;
    width: 100%;
    text-align: center;
    line-height: 42px;
    color: #868E9E;
    padding: 80px 0;
    &::after {
        @include setBottomLine(#F0F1F5);
        left: 0;
    }
    // .money{
    //     color: #F66;
    // }
}
