.page_wrap {
	padding: 60px 60px 100px;

	dt {
		font-size: 34px;
		color: #121c32;
		font-weight: 500;
	}

	dd {
		font-size: 28px;
		color: #868e9e;
		margin-bottom: 32px;
		padding-left: 16px;

		em {
			color: #fe6666;
		}
	}
}
