:global {
	.warningModal.am-modal {
    height: 94%;
		.am-modal-content {
			border-radius: 20px 20px 0px 0px;
		}
	}
}
.closeBox {
  height: 70px;
  text-align: right;
  line-height: 80px;
	.closeBtn {
		display: inline-block;
		width: 34px;
		height: 34px;
		background: url(./img/icon_close.png) no-repeat;
    background-size: 100%;
    margin-right: 30px;
	}
}
.warningModalCont {
  // padding-bottom: 30px;
}
.warningCont {
	text-align: left;
	color: #121c32;
	padding: 0 81px 0 41px;
	.mainTit {
		font-size: 50px;
		font-weight: 600;
		margin-bottom: 40px;
	}
	.subTit {
		font-size: 30px;
		line-height: 46px;
		padding-bottom: 12px;
	}
	.subCont {
		font-size: 30px;
		font-weight: 600;
		line-height: 46px;
	}
	.redText {
		color: #ff6666;
		margin-bottom: 32px;
	}
	.underlineText {
		text-decoration: underline;
	}
	.specialText {
		display: flex;
	}
	.modl_special_text {
		margin-left: 10px;
	}
	.spaceStyle {
		margin-top: 44px;
	}
}
.confirm_btn {
	width: 634px;
	line-height: 100px;
	height: 100px;
	border-radius: 50px;
	margin-top: 52px;
}
.confirm_disable_btn {
	background-color: #dcdfe6;
	color: #fff;
}
.agreement {
	display: flex;
	text-align: left;
	margin: 18px 60px;
	font-size: 24px;
	line-height: 40px;
	color: #868e9e;
}
.agreementCont {
	span {
		color: #121c32;
	}
}
.checked {
	position: relative;
	top: 5px;
	vertical-align: middle;
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-right: 11px;
	background: url(../../../../login/login_page/img/selected_ico.png) no-repeat;
	background-size: 100%;
}
.nochecked {
	background: url(../../../../login/login_page/img/unselected_ico.png) no-repeat;
	background-size: 100%;
}
