:global {
	.warningModal.am-modal {
    // height: 94%;
		.am-modal-content {
			border-radius: 20px 20px 0px 0px;
		}
	}
}
.warningModalCont {
  padding-top: 80px;
  padding-bottom: 240px;

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
		display: inline-block;
		width: 34px;
		height: 34px;
  }

  .mainTit {
    text-align: left;
    color: $colorBlack;
		font-size: 36px;
    margin-bottom: 28px;
    padding: 0 60px;
    font-weight: normal;
	}
}
.warningCont {
	text-align: left;
	color: $colorBlack;
  padding: 0 60px;
  max-height: 600px;
  overflow: auto;

	.subTit {
		font-size: 28px;
		line-height: 46px;
		padding-bottom: 12px;
	}
	.subCont {
		font-size: 28px;
		font-weight: 500;
		line-height: 46px;
	}
	.redText {
		color: $colorTipRed;
		margin-bottom: 32px;
	}
	.underlineText {
		text-decoration: underline;
	}
	.specialText {
		display: flex;
	}
	.modl_special_text {
		margin-left: 10px;
	}
	.spaceStyle {
		margin-top: 44px;
	}
}
.fixedBottomWrap {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 60px;
}
.confirm_btn {
	width: 634px;
	line-height: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 20px 0;
}
.confirm_disable_btn {
	background-color: #dcdfe6;
	color: #fff;
}
.agreement {
	text-align: left;
  margin-bottom: 20px;
	font-size: 24px;
	line-height: 40px;
  color: #868e9e;
  span {
		color: #121c32;
	}
}

