:global {
	.warningModal.am-modal {
		// height: 94%;
		.am-modal-content {
			border-radius: 10px 10px 0 0;
		}
	}
}
.warningModalCont {
	padding-top: 80px;
	padding-bottom: 240px;

	.closeBtn {
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		display: inline-block;
		width: 34px;
		height: 34px;
	}

	.mainTit {
		text-align: left;
		color: #121b33;
		font-size: 36px;
		margin-bottom: 40px;
		padding: 0 60px;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
	}
}
.warningCont {
	text-align: left;
	color: $colorBlack;
	padding: 0 60px;
	max-height: 600px;
	overflow: auto;

	.subTit {
		font-size: 30px;
		line-height: 42px;
		padding-bottom: 20px;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
	}
	.subCont {
		font-size: 28px;
    line-height: 42px;
    padding-bottom: 20px;
	}
	.redText {
		color: #f76c5c;
		margin-bottom: 20px;
	}
	.underlineText {
		text-decoration: underline;
	}
	.specialText {
		display: flex;
	}
	.modl_special_text {
		margin-left: 10px;
	}
	.spaceStyle {
		margin-top: 20px;
	}
}
.fixedBottomWrap {
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 60px;
}
.confirm_btn {
	width: 634px;
	line-height: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 20px 0;
}
.confirm_disable_btn {
	background-color: #dcdfe6;
	color: #fff;
}
.agreement {
	text-align: left;
	margin-bottom: 20px;
	line-height: 40px;
}
