.fqa_page {
	min-height: 100%;
	background-color: #fff;
	.container {
		position: absolute;
		width: 100%;
		// margin-bottom: 30px;
		top: 63px;
		margin-top: 25px;
	}
	.container2 {
		position: absolute;
		width: 100%;
		// margin-bottom: 30px;
	}
}
