.img {
    width: 100%;
    display: block;
  }
  .con {
    position: relative;
  }
  .fontContainer {
    position: absolute;
    top: 580px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    width: 100%;
    display: inline-block;
    left: 50%;
    margin-left: -50%;
    span {
      font-size: 36px;
      letter-spacing: 8px;
      font-weight: 700;
    }
  }
  