.img {
    width: 100%;
    display: block;
  }
  .con {
    position: relative;
  }
  .fontContainer {
    position: absolute;
    top: 580px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    width: 100%;
    display: inline-block;
    left: 50%;
    margin-left: -50%;
    span {
      font-size: 36px;
      letter-spacing: 8px;
      font-weight: 700;
    }
  }
.bgBox{
  height: 100%;
  background: linear-gradient(139deg, rgba(255, 55, 73, 1) 0%, rgba(254, 186, 85, 1) 84%);
  .copyBtn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
  