.message {
    width: 80%;
    margin: 0 auto;
    .awardCarousel {
        background: #27857D;
        font-size: 0.24rem;
        text-align: center;
        border-radius: 6px;
        overflow: hidden;
        color: #fff;
        .carouselItem{
            letter-spacing: 1px;
            height: 60px;
            line-height: 60px;
            span {
                color: #fff;
            }
        }
    }
}