.msg_badge_wrap {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  .msg_badge_content {
    display: flex;
    align-items: center;
    padding: .17rem;
  }
  .msg_badge_icon {
    display: inline-block;
    height: .5rem;
    width: .5rem;
  }
  .msg_badge_text {
    position: relative;
    top: -.2rem;
    left: -.2rem;
    display: inline-block;
    padding: .08rem .13rem;
    border-radius: .3rem;
    background-color: #FF4848;
    font-size: .22rem;
    line-height: 1;
    color: #fff;
    transform: scale3d(.8, .8, 1);
    border: 1PX solid #fff;
  }
}
