.message {
    font-size: 0.24rem;
    width: 460px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 23px;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    color: #6c6c6c;
    span {
        // color: #FE0000;
    }
}