@import '../../../assets/styles/scss/base/fn.scss';
.top_header {
	background-image: url('./img/top_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 435px;
	padding-top: 100px;
	box-sizing: border-box;
}

.boxshadow {
	background-image: url('./img/shadow_bg.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	width: 730px;
	margin: -150px auto 0;
}
.header_title {
	color: #fff;
	font-size: 56px;
	font-weight: 600;
}
.header_desc {
	color: #fff;
	font-size: 26px;
}
.tab_wrap {
	display: flex;
	justify-content: space-evenly;
  align-items: center;
  position: relative;
  &::after {
		@include setBottomLine(#f0f1f5);
	}
	// width: 96%;
	margin: 0 40px;
}
.tab_item {
	position: relative;
	padding: 25px 0;
}
.tab_item_text {
	color: #868e9e;
	font-size: 28px;
	font-weight: 500;
}
.tab_item_text_active {
	color: #397BE6;
	font-size: 28px;
	font-weight: 500;
}
.tab_line {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 76px;
	height: 6px;
	background: #397BE6;
}
.label_title {
	color: #242d46;
	font-size: 40px;
	font-weight: 500;
	padding: 120px 0 70px;
	text-align: center;
}
.img1 {
	width: 650px;
}
.img1_wrap {
	padding: 0 55px;
	z-index: 100;
	margin-top: -30px;
}
.pwd_guide {
	position: absolute;
	left: 240px;
	top: 550px;
	width: 222px;
	height: 26px;
}
.img2_wrap {
	padding: 0 25px;
}
.img2 {
	width: 700px;
}
.fixed_tab {
	position: fixed;
  left: 0;
  // top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;
  z-index: 101;
  animation: fadeIn 0.3s ease-in-out;
  border-bottom: 1px solid #f0f1f5;
}

@keyframes fadeIn {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}
